ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-201-P
    PIPING-SPEC   1C0031LAYOUT
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   PROCESS
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:29:51 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:29:51
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    -1524.000    65227.200    10363.200     8    
    END-POINT    8514.228    65227.200    10363.200     8    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031LAYOUT
    WEIGHT    12.955
    UCI    {0001388C-0000-0000-2B00-44DBA0473104}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE8    940.62 lbm
    CUT-PIECE-LENGTH    10038.23
SUPPORT
    CO-ORDS    -814.406    65227.200    10363.200     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G4G_1401_04_H3
    WEIGHT    0.000
    UCI    {00022303-0000-0000-5100-44DBA0473104}
    NAME    G4G_1401_04_H3-15-201
SUPPORT
    CO-ORDS    2386.824    65227.200    10363.200     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G4G_1401_04_H3
    WEIGHT    0.000
    UCI    {00022303-0000-0000-C805-7F41A2472C04}
    NAME    G4G_1401_04_H3-15-301
SUPPORT
    CO-ORDS    0.000    65227.200    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_RR_DR_WS_13
    WEIGHT    38.209
    UCI    {00022303-0000-0000-3900-FCDCA0472C04}
    NAME    Assy_RR_DR_WS_13-15-101
SUPPORT
    CO-ORDS    3048.000    65227.200    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy-DM1-7
    WEIGHT    0.000
    UCI    {00022303-0000-0000-A103-FCDCA0472C04}
    NAME    Assy-DM1-7-15-101
SUPPORT
    CO-ORDS    5938.520    65227.200    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_VS_SR_CL_49
    WEIGHT    29.454
    UCI    {00022303-0000-0000-F207-FCDCA0472C04}
    NAME    Assy_VS_SR_CL_49-15-1
SUPPORT
    CO-ORDS    6574.190    65227.200    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_FR_IT_LS_5
    WEIGHT    29.742
    UCI    {00022303-0000-0000-B118-FF65B0475204}
    NAME    Assy_FR_IT_LS_5-15-203
SUPPORT
    CO-ORDS    8514.228    65227.200    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_FR_US_LS_5
    WEIGHT    46.738
    UCI    {00022303-0000-0000-BF1B-FF65B0475204}
    NAME    Assy_FR_US_LS_5-15-102
END-POSITION-OPEN
    CO-ORDS    -1524.000    65227.200    10363.200
END-POSITION-OPEN
    CO-ORDS    8514.228    65227.200    10363.200
MATERIALS
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    G4G_1401_04_H3
    DESCRIPTION    Penetration Plate on Pipe(s)
ITEM-CODE    Assy_RR_DR_WS_13
    DESCRIPTION    Rigid Rod Trapeze - W-Section, Top Type: LUG/CLEVIS, Rod: End Thread, 7/8
ITEM-CODE    Assy-DM1-7
    DESCRIPTION    Assembly DM1 Size 4 Sway Strut Assembly (Option 3) for Pipe Sizes 5in to 36in
ITEM-CODE    Assy_VS_SR_CL_49
    DESCRIPTION    Variable Spring with Clevis Hanger, TYPE A SPRING, C-CLAMP, SHORT SPRING, Size:11
ITEM-CODE    Assy_FR_IT_LS_5
    DESCRIPTION    Inverted T Shaped Frame L4X4X1/4 w/ Baseplate
ITEM-CODE    Assy_FR_US_LS_5
    DESCRIPTION    U Shaped Frame L4X4X1/4 w/ Baseplate
