ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   400307-SE
    PIPING-SPEC   1C0031
    INSULATION-SPEC   FIBERGLASS
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   EXTRA PRESSURE CL1500 STEAM
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:13:08 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:13:08
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    398389.761    128600.468    6179.650     6    BW
    END-POINT    398322.418    128437.863    6179.650     6    BW
    CENTRE-POINT    398322.412    128533.112    6179.650        
    SKEY    EL**
    ITEM-CODE    MBXZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.33 lbm
    UCI    {00013885-0000-0000-4315-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    5.593
WELD
    END-POINT    398389.764    128600.472    6179.650     6    
    END-POINT    398389.761    128600.468    6179.650     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5515-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    398551.400    128762.125    5385.900     6    
    END-POINT    398551.400    128762.125    5951.050     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.995
    UCI    {0001388C-0000-0000-2915-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    36.77 lbm
    CUT-PIECE-LENGTH    565.15
WELD
    END-POINT    398551.400    128762.125    5951.050     6    
    END-POINT    398551.400    128762.125    5951.050     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5315-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    398551.400    128762.125    5951.050     6    BW
    END-POINT    398389.764    128600.472    6179.650     6    BW
    CENTRE-POINT    398551.400    128762.125    6179.650        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24.79 lbm
    UCI    {00013885-0000-0000-3315-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    11.245
FLANGE
    END-POINT    398310.100    128762.125    4636.600     6    
    END-POINT    398408.525    128762.125    4636.600     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.17 lbm
    UCI    {00013885-0000-0000-DF35-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.128
BOLT
    CO-ORDS    398310.100    128762.125    4636.600        
    UCI    {000138A9-0000-0000-EB35-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    398306.925    128762.125    4636.600     6    
    END-POINT    398310.100    128762.125    4636.600     6    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-EA35-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
WELD
    END-POINT    398408.525    128762.125    4636.600     6    
    END-POINT    398408.525    128762.125    4636.600     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CE25-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE-BLIND
    END-POINT    398306.925    128762.125    4636.600     6    
    END-POINT    398270.412    128762.125    4636.600     6    
    SKEY    FLBL
    ITEM-CODE    MAAAMABZZAADABQZZUS
    ITEM-DESCRIPTION    Blind flange, CL300, RFFE, ASTM-A105, ASME-B16.5
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    50. lbm
    UCI    {00013885-0000-0000-D635-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    22.680
FLANGE
    END-POINT    403275.800    128222.375    4102.100     4    
    END-POINT    403275.800    128308.100    4102.100     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-ED35-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
WELD
    END-POINT    403275.800    128308.100    4102.100     4    
    END-POINT    403275.800    128308.100    4102.100     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0B36-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    403275.800    128308.100    4102.100     4    
    END-POINT    403275.800    128393.825    4102.100     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-6715-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    3.2 lbm
    CUT-PIECE-LENGTH    85.72
WELD
    END-POINT    403275.800    128393.825    4102.100     4    
    END-POINT    403275.800    128393.825    4102.100     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7D15-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    403275.800    128533.525    4075.112     6    BW
    END-POINT    403275.800    128762.125    4303.712     6    BW
    CENTRE-POINT    403275.800    128762.125    4075.112        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24.79 lbm
    UCI    {00013885-0000-0000-8D15-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.245
WELD
    END-POINT    403275.800    128762.125    4303.712     6    
    END-POINT    403275.800    128762.125    4303.712     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9A15-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    403275.800    128533.525    4075.112     6    BW
    END-POINT    403275.800    128393.825    4102.100     4    BW
    SKEY    RE**
    ITEM-CODE    MBJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Eccentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.21 lbm
    UCI    {00013885-0000-0000-7315-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    3.724
    FLAT-DIRECTION    UP
WELD
    END-POINT    403275.800    128533.525    4075.112     6    
    END-POINT    403275.800    128533.525    4075.112     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5A21-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    403275.800    128762.125    4877.900     6    
    END-POINT    403275.800    128762.125    4779.475     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.17 lbm
    UCI    {00013885-0000-0000-2136-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.128
BOLT
    CO-ORDS    403275.800    128762.125    4877.900        
    UCI    {000138A9-0000-0000-3A36-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    403275.800    128762.125    4881.075     6    
    END-POINT    403275.800    128762.125    4877.900     6    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-3936-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
TEE
    END-POINT    403275.800    128762.125    4493.725     6    BW
    END-POINT    403275.800    128762.125    4779.475     6    BW
    CENTRE-POINT    403275.800    128762.125    4636.600        
    BRANCH1-POINT    403132.925    128762.125    4636.600     6    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    29.74 lbm
    UCI    {00013885-0000-0000-D325-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    13.491
WELD
    END-POINT    403275.800    128762.125    4779.475     6    
    END-POINT    403275.800    128762.125    4779.475     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E725-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    403275.800    128762.125    4881.075     6    FL
    END-POINT    403275.800    128762.125    5284.300     6    FL
    CENTRE-POINT    403275.800    128762.125    5082.688        
    SKEY    VV**
    ITEM-CODE    VAAAMABAHADEADAZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    320.7 lbm
    UCI    {00013885-0000-0000-1036-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    145.466
    SPINDLE-DIRECTION    WEST
    DIRECTION    N  45 W
BOLT
    CO-ORDS    403275.800    128762.125    5284.300        
    UCI    {000138A9-0000-0000-3C36-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    403275.800    128762.125    5284.300     6    
    END-POINT    403275.800    128762.125    5287.475     6    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-3B36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
FLANGE
    END-POINT    403275.800    128762.125    5287.475     6    
    END-POINT    403275.800    128762.125    5385.900     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.17 lbm
    UCI    {00013885-0000-0000-2C36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.128
WELD
    END-POINT    403275.800    128762.125    5385.900     6    
    END-POINT    403275.800    128762.125    5385.900     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CD15-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    403275.800    128762.125    4303.712     6    
    END-POINT    403275.800    128762.125    4493.725     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    8.995
    UCI    {0001388C-0000-0000-DB25-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.36 lbm
    CUT-PIECE-LENGTH    190.01
WELD
    END-POINT    403275.800    128762.125    4493.725     6    
    END-POINT    403275.800    128762.125    4493.725     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E425-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    403275.800    128762.125    5951.050     6    BW
    END-POINT    403114.164    128600.472    6179.650     6    BW
    CENTRE-POINT    403275.800    128762.125    6179.650        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24.79 lbm
    UCI    {00013885-0000-0000-B015-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    11.245
ELBOW
    END-POINT    403114.161    128600.468    6179.650     6    BW
    END-POINT    403046.818    128437.863    6179.650     6    BW
    CENTRE-POINT    403046.812    128533.112    6179.650        
    SKEY    EL**
    ITEM-CODE    MBXZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.33 lbm
    UCI    {00013885-0000-0000-C015-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    5.593
WELD
    END-POINT    403114.164    128600.472    6179.650     6    
    END-POINT    403114.161    128600.468    6179.650     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D215-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    403275.800    128762.125    5385.900     6    
    END-POINT    403275.800    128762.125    5951.050     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.995
    UCI    {0001388C-0000-0000-A615-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    36.77 lbm
    CUT-PIECE-LENGTH    565.15
WELD
    END-POINT    403275.800    128762.125    5951.050     6    
    END-POINT    403275.800    128762.125    5951.050     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D015-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE-BLIND
    END-POINT    403031.325    128762.125    4636.600     6    
    END-POINT    402994.812    128762.125    4636.600     6    
    SKEY    FLBL
    ITEM-CODE    MAAAMABZZAADABQZZUS
    ITEM-DESCRIPTION    Blind flange, CL300, RFFE, ASTM-A105, ASME-B16.5
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    50. lbm
    UCI    {00013885-0000-0000-3D36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    22.680
FLANGE
    END-POINT    403034.500    128762.125    4636.600     6    
    END-POINT    403132.925    128762.125    4636.600     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.17 lbm
    UCI    {00013885-0000-0000-4636-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.128
GASKET
    END-POINT    403031.325    128762.125    4636.600     6    
    END-POINT    403034.500    128762.125    4636.600     6    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-5136-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    403034.500    128762.125    4636.600        
    UCI    {000138A9-0000-0000-5236-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  5 in. Length
    ERECTION-ITEM
WELD
    END-POINT    403132.925    128762.125    4636.600     6    
    END-POINT    403132.925    128762.125    4636.600     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E925-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    398551.400    128308.100    4102.100     4    
    END-POINT    398551.400    128393.825    4102.100     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-EA14-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    3.2 lbm
    CUT-PIECE-LENGTH    85.72
WELD
    END-POINT    398551.400    128393.825    4102.100     4    
    END-POINT    398551.400    128393.825    4102.100     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0015-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    398551.400    128222.375    4102.100     4    
    END-POINT    398551.400    128308.100    4102.100     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-8635-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
WELD
    END-POINT    398551.400    128308.100    4102.100     4    
    END-POINT    398551.400    128308.100    4102.100     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A435-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    398551.400    128533.525    4075.112     6    BW
    END-POINT    398551.400    128762.125    4303.712     6    BW
    CENTRE-POINT    398551.400    128762.125    4075.112        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24.79 lbm
    UCI    {00013885-0000-0000-1015-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.245
WELD
    END-POINT    398551.400    128762.125    4303.712     6    
    END-POINT    398551.400    128762.125    4303.712     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1D15-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    398551.400    128533.525    4075.112     6    BW
    END-POINT    398551.400    128393.825    4102.100     4    BW
    SKEY    RE**
    ITEM-CODE    MBJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Eccentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.21 lbm
    UCI    {00013885-0000-0000-F614-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    3.724
    FLAT-DIRECTION    UP
WELD
    END-POINT    398551.400    128533.525    4075.112     6    
    END-POINT    398551.400    128533.525    4075.112     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4D21-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    398551.400    128762.125    4881.075     6    FL
    END-POINT    398551.400    128762.125    5284.300     6    FL
    CENTRE-POINT    398551.400    128762.125    5082.688        
    SKEY    VV**
    ITEM-CODE    VAAAMABAHADEADAZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    320.7 lbm
    UCI    {00013885-0000-0000-A935-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    145.466
    SPINDLE-DIRECTION    NORTH
    DIRECTION    N  30 W
BOLT
    CO-ORDS    398551.400    128762.125    5284.300        
    UCI    {000138A9-0000-0000-D535-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    398551.400    128762.125    5284.300     6    
    END-POINT    398551.400    128762.125    5287.475     6    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-D435-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
FLANGE
    END-POINT    398551.400    128762.125    4877.900     6    
    END-POINT    398551.400    128762.125    4779.475     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.17 lbm
    UCI    {00013885-0000-0000-BA35-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.128
BOLT
    CO-ORDS    398551.400    128762.125    4877.900        
    UCI    {000138A9-0000-0000-D335-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     5
    BOLT-QUANTITY    12
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  5 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    398551.400    128762.125    4881.075     6    
    END-POINT    398551.400    128762.125    4877.900     6    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-D235-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
PIPE
    END-POINT    398551.400    128762.125    4303.712     6    
    END-POINT    398551.400    128762.125    4493.725     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    8.995
    UCI    {0001388C-0000-0000-C025-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.36 lbm
    CUT-PIECE-LENGTH    190.01
WELD
    END-POINT    398551.400    128762.125    4493.725     6    
    END-POINT    398551.400    128762.125    4493.725     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C925-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    398551.400    128762.125    5287.475     6    
    END-POINT    398551.400    128762.125    5385.900     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.17 lbm
    UCI    {00013885-0000-0000-C535-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.128
WELD
    END-POINT    398551.400    128762.125    5385.900     6    
    END-POINT    398551.400    128762.125    5385.900     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5015-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    398551.400    128762.125    4493.725     6    BW
    END-POINT    398551.400    128762.125    4779.475     6    BW
    CENTRE-POINT    398551.400    128762.125    4636.600        
    BRANCH1-POINT    398408.525    128762.125    4636.600     6    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    29.74 lbm
    UCI    {00013885-0000-0000-B825-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    FABRICATION-ITEM
    WEIGHT    13.491
WELD
    END-POINT    398551.400    128762.125    4779.475     6    
    END-POINT    398551.400    128762.125    4779.475     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CC25-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400307-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-POSITION-OPEN
    CO-ORDS    398322.418    128437.863    6179.650
END-POSITION-CLOSED
    CO-ORDS    398270.412    128762.125    4636.600
END-POSITION-OPEN
    CO-ORDS    403275.800    128222.375    4102.100
END-POSITION-OPEN
    CO-ORDS    403046.818    128437.863    6179.650
END-POSITION-CLOSED
    CO-ORDS    402994.812    128762.125    4636.600
END-POSITION-OPEN
    CO-ORDS    398551.400    128222.375    4102.100
MATERIALS
ITEM-CODE    MBXZZBOZZAAEADCZZUS
    DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    FAAAMDCZZAADABQZZUS
    DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    GMAMACABXBEPUS
    DESCRIPTION    Gasket, CL300, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    MAAAMABZZAADABQZZUS
    DESCRIPTION    Blind flange, CL300, RFFE, ASTM-A105, ASME-B16.5
ITEM-CODE    MBJZZBOZZAAEADCZZUS
    DESCRIPTION    Eccentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    MDJZZBOZZAAEADCZZUS
    DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    VAAAMABAHADEADAZZZZUS
    DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
