ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   400207-MC5
    PIPING-SPEC   1C0031
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   0-50% CAUSTIC SOLUTION
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:13:44 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:13:44
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
FLANGE
    END-POINT    400657.751    136615.226    3581.400     6    
    END-POINT    400720.613    136678.088    3581.400     6    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-0C2E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    400720.613    136678.088    3581.400     6    
    END-POINT    400720.613    136678.088    3581.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1E2E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    400720.613    136678.088    3581.400     6    
    END-POINT    401132.955    137090.430    3581.400     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-8A0E-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    36.31 lbm
    CUT-PIECE-LENGTH    583.14
WELD
    END-POINT    401132.955    137090.430    3581.400     6    
    END-POINT    401132.955    137090.430    3581.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-AB0E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    400735.800    124323.475    8008.938     6    
    END-POINT    400735.800    135988.425    8008.938     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-590E-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    726.34 lbm
    CUT-PIECE-LENGTH    11664.95
WELD
    END-POINT    400735.800    135988.425    8008.938     6    
    END-POINT    400735.800    135988.425    8008.938     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A50E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    400735.800    135988.425    8008.938     6    BW
    END-POINT    400668.448    136151.027    8008.938     6    BW
    CENTRE-POINT    400735.800    136083.675    8008.938        
    SKEY    EL**
    ITEM-CODE    MBXZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12. lbm
    UCI    {00013885-0000-0000-630E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    5.443
ELBOW
    END-POINT    400592.645    136226.830    8008.938     6    BW
    END-POINT    400431.000    136388.475    7780.338     6    BW
    CENTRE-POINT    400431.000    136388.475    8008.938        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-730E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    400592.645    136226.830    8008.938     6    
    END-POINT    400592.645    136226.830    8008.938     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A70E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    401132.955    137090.430    3581.400     6    BW
    END-POINT    401294.600    137252.075    3810.000     6    BW
    CENTRE-POINT    401294.600    137252.075    3581.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-920E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    401294.600    137252.075    3810.000     6    
    END-POINT    401294.600    137252.075    3810.000     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-BF0E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    400655.506    136612.981    3581.400     6    
    END-POINT    400592.645    136550.120    3581.400     6    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-032E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
GASKET
    END-POINT    400655.506    136612.981    3581.400     6    
    END-POINT    400657.751    136615.226    3581.400     6    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-212E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
BOLT
    CO-ORDS    400655.506    136612.981    3581.400        
    UCI    {000138A9-0000-0000-222E-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.25
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.25 in. Length
    ERECTION-ITEM
PIPE
    END-POINT    400668.448    136151.027    8008.938     6    
    END-POINT    400592.645    136226.830    8008.938     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-6B0E-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    6.68 lbm
    CUT-PIECE-LENGTH    107.20
WELD
    END-POINT    400668.448    136151.027    8008.938     6    
    END-POINT    400668.448    136151.027    8008.938     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9E0E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    400431.000    136388.475    3810.000     6    BW
    END-POINT    400592.645    136550.120    3581.400     6    BW
    CENTRE-POINT    400431.000    136388.475    3581.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-830E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    400431.000    136388.475    3810.000     6    
    END-POINT    400431.000    136388.475    3810.000     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A90E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    400592.645    136550.120    3581.400     6    
    END-POINT    400592.645    136550.120    3581.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A30E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    400431.000    136388.475    7780.338     6    
    END-POINT    400431.000    136388.475    3810.000     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-7B0E-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    247.22 lbm
    CUT-PIECE-LENGTH    3970.34
WELD
    END-POINT    400431.000    136388.475    7780.338     6    
    END-POINT    400431.000    136388.475    7780.338     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A10E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    401294.600    137252.075    3908.425     6    
    END-POINT    401294.600    137252.075    3810.000     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42. lbm
    UCI    {00013885-0000-0000-242E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    FABRICATION-ITEM
    WEIGHT    19.051
ELBOW
    CONTINUATION
    END-POINT    400735.800    124094.875    8237.538     6    BW
    END-POINT    400735.800    124323.475    8008.938     6    BW
    CENTRE-POINT    400735.800    124094.875    8008.938        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-350E-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    400735.800    124323.475    8008.938     6    
    END-POINT    400735.800    124323.475    8008.938     6    
    SKEY    WWD
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-AD0E-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    390207-MC5
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
END-CONNECTION-PIPELINE
    CO-ORDS    400735.800    124094.875    8237.538
    CONNECTION-REFERENCE  390207-MC5
END-POSITION-OPEN
    CO-ORDS    401294.600    137252.075    3908.425
MATERIALS
ITEM-CODE    FAAAHDCZZAADABQZZUS
    DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    MBXZZBOZZAAEADCZZUS
    DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    GMAHACABXBEPUS
    DESCRIPTION    Gasket, CL150, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    FAAAMDCZZAADABQZZUS
    DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
