ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-11-W
    PIPING-SPEC   1C0031
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:29:42 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:29:42
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    4925.165    60790.138    10363.200     6    
    END-POINT    4925.165    59694.878    10363.200     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-8016-90CF98473204}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    68.2 lbm
    CUT-PIECE-LENGTH    1095.26
OLET
    CENTRE-POINT    4925.165    60960.000    10363.200        
    BRANCH1-POINT    4925.165    60790.138    10363.200     6    
    SKEY    WTBW
    ITEM-CODE    MEKZZBOZZAEYABQZZUM
    ITEM-DESCRIPTION    Weldolet, S-STD x S-STD, BE, weldolet, ASTM-A105
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12. lbm
    UCI    {00013885-0000-0000-7516-90CF98473204}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    5.443
    WELD
    LOCATION    CP
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C416-90CF98473204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-11-W
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    4925.165    60790.138    10363.200     6    
    END-POINT    4925.165    60790.138    10363.200     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C716-90CF98473204}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-11-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    914.400    60960.000    10363.200     8    
    END-POINT    4925.165    60960.000    10363.200     8    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    12.955
    UCI    {0001388C-0000-0000-E113-90CF98473204}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    751.65 lbm
    CUT-PIECE-LENGTH    8021.53
PIPE
    END-POINT    4925.165    60960.000    10363.200     8    
    END-POINT    8935.930    60960.000    10363.200     8    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    12.955
    UCI    {0001388C-0000-0000-E113-90CF98473204}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    751.65 lbm
    CUT-PIECE-LENGTH    8021.53
SUPPORT
    CO-ORDS    2524.822    60960.000    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_RR_SR_CL_9
    WEIGHT    3.545
    UCI    {00022303-0000-0000-4114-90CF98473204}
    NAME    Assy_RR_SR_CL_9-15-1
SUPPORT
    CO-ORDS    1699.116    60960.000    10363.200     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G4G_1401_04_H3
    WEIGHT    0.000
    UCI    {00022303-0000-0000-CC19-90CF98473204}
    NAME    G4G_1401_04_H3-15-141
SUPPORT
    CO-ORDS    3466.243    60960.000    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_VS_SR_CL_31
    WEIGHT    34.393
    UCI    {00022303-0000-0000-CE16-90CF98473204}
    NAME    Assy_VS_SR_CL_31-15-12
SUPPORT
    CO-ORDS    4197.016    60960.000    10363.200     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    DesignPipeH_1
    WEIGHT    0.000
    UCI    {00022311-0000-0000-0500-AED198473104}
    NAME    DesignPipeH_1-15-21
SUPPORT
    CO-ORDS    7660.283    60960.000    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_RR_SR_CL_9
    WEIGHT    3.545
    UCI    {00022303-0000-0000-5A17-90CF98473204}
    NAME    Assy_RR_SR_CL_9-15-2
SUPPORT
    CO-ORDS    8495.544    60960.000    10363.200     8
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G4G_1401_04_H3
    WEIGHT    0.000
    UCI    {00022303-0000-0000-A61B-90CF98473204}
    NAME    G4G_1401_04_H3-15-142
SUPPORT
    CO-ORDS    6388.423    60960.000    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_VS_SR_CL_31
    WEIGHT    34.393
    UCI    {00022303-0000-0000-ED14-90CF98473204}
    NAME    Assy_VS_SR_CL_31-15-11
SUPPORT
    CO-ORDS    5737.035    60960.000    10363.200     8
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    DesignPipeH_1
    WEIGHT    0.000
    UCI    {00022311-0000-0000-5903-AED198473104}
    NAME    DesignPipeH_1-15-22
END-POSITION-OPEN
    CO-ORDS    4925.165    59694.878    10363.200
END-POSITION-OPEN
    CO-ORDS    914.400    60960.000    10363.200
END-POSITION-OPEN
    CO-ORDS    8935.930    60960.000    10363.200
MATERIALS
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    MEKZZBOZZAEYABQZZUM
    DESCRIPTION    Weldolet, S-STD x S-STD, BE, weldolet, ASTM-A105
ITEM-CODE    Assy_RR_SR_CL_9
    DESCRIPTION    Rigid Rod with Clevis Hanger, Top Type: LUG/CLEVIS, Rod: Cont. Thread, 1/2
ITEM-CODE    G4G_1401_04_H3
    DESCRIPTION    Penetration Plate on Pipe(s)
ITEM-CODE    Assy_VS_SR_CL_31
    DESCRIPTION    Variable Spring with Clevis Hanger, TYPE A SPRING, LUG/CLEVIS, SHORT SPRING, Size:12
ITEM-CODE    DesignPipeH_1
    DESCRIPTION    Design Pipe Assembly
