ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-12-W
    PIPING-SPEC   1C0031
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:44:29 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:44:29
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    -1524.000    59497.470    -836.246     6    BW
    END-POINT    -1295.400    59268.870    -836.246     6    BW
    CENTRE-POINT    -1524.000    59268.870    -836.246        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-D705-4883A0472C04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    -1524.000    59497.470    -836.246     6    
    END-POINT    -1524.000    59497.470    -836.246     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E705-4883A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-12-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    -1295.400    59268.870    -836.246     6    
    END-POINT    -1295.400    59268.870    -836.246     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-EA05-4883A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-12-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    -1524.000    60502.800    -607.646     6    BW
    END-POINT    -1524.000    60274.200    -836.246     6    BW
    CENTRE-POINT    -1524.000    60502.800    -836.246        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-BE05-4883A0472C04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    -1524.000    60502.800    -607.646     6    
    END-POINT    -1524.000    60502.800    -607.646     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CE05-4883A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-12-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    -1524.000    60502.800    685.800     6    BW
    END-POINT    -1295.400    60502.800    914.400     6    BW
    CENTRE-POINT    -1524.000    60502.800    914.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-8703-4883A0472C04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    -1295.400    60502.800    914.400     6    
    END-POINT    -1295.400    60502.800    914.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A805-4883A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-12-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    -1295.400    60502.800    914.400     6    
    END-POINT    2026.436    60502.800    914.400     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-9D00-901296474404}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    206.84 lbm
    CUT-PIECE-LENGTH    3321.84
SUPPORT
    CO-ORDS    713.409    60502.800    914.400     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    Assy_FR_TS_WS_1
    WEIGHT    44.202
    UCI    {00022303-0000-0000-7816-901296474404}
    NAME    Assy_FR_TS_WS_1-15-21
SUPPORT
    CO-ORDS    -689.748    60502.800    914.400     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    Assy_FR_IT_LS_3
    WEIGHT    18.416
    UCI    {00022303-0000-0000-D80D-F74C97474204}
    NAME    Assy_FR_IT_LS_3-15-21
PIPE
    END-POINT    -1524.000    60502.800    685.800     6    
    END-POINT    -1524.000    60502.800    -607.646     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-8F03-4883A0472C04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    80.54 lbm
    CUT-PIECE-LENGTH    1293.45
WELD
    END-POINT    -1524.000    60502.800    685.800     6    
    END-POINT    -1524.000    60502.800    685.800     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A505-4883A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-12-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    -1524.000    60274.200    -836.246     6    
    END-POINT    -1524.000    59497.470    -836.246     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-C605-4883A0472C04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    48.36 lbm
    CUT-PIECE-LENGTH    776.73
WELD
    END-POINT    -1524.000    60274.200    -836.246     6    
    END-POINT    -1524.000    60274.200    -836.246     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D105-4883A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-12-W
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    -1295.400    59268.870    -836.246     6    
    END-POINT    1285.798    59268.870    -836.246     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-DF05-4883A0472C04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    160.72 lbm
    CUT-PIECE-LENGTH    2581.20
SUPPORT
    CO-ORDS    -371.790    59268.870    -836.246     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    Assy-DM1-4
    WEIGHT    0.000
    UCI    {00022303-0000-0000-F205-4883A0472C04}
    NAME    Assy-DM1-4-15-201
END-POSITION-OPEN
    CO-ORDS    2026.436    60502.800    914.400
END-POSITION-OPEN
    CO-ORDS    1285.798    59268.870    -836.246
MATERIALS
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    Assy_FR_TS_WS_1
    DESCRIPTION    T Shaped Frame W4x13 w/ Baseplate
ITEM-CODE    Assy_FR_IT_LS_3
    DESCRIPTION    Inverted T Shaped Frame L3X3X1/4 w/ Baseplate
ITEM-CODE    Assy-DM1-4
    DESCRIPTION    Assembly DM1 Size 1 Sway Strut Assembly (Option 3) for Pipe Sizes 2in to 36in
