ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   400303-WC
    PIPING-SPEC   2C0032
    INSULATION-SPEC   CALCIUM SILICATE
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   COOLING WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:13:39 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:13:39
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    402688.145    136816.820    3581.400     6    
    END-POINT    402961.755    137090.430    3581.400     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    9.253
    UCI    {0001388C-0000-0000-2D14-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.9 lbm
    CUT-PIECE-LENGTH    386.94
WELD
    END-POINT    402961.755    137090.430    3581.400     6    
    END-POINT    402961.755    137090.430    3581.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5014-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    403123.400    137252.075    3908.425     6    
    END-POINT    403123.400    137252.075    3810.000     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.28 lbm
    UCI    {00013885-0000-0000-5C35-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.180
FLANGE
    END-POINT    401294.600    137252.075    6226.175     6    
    END-POINT    401294.600    137252.075    6324.600     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.28 lbm
    UCI    {00013885-0000-0000-4F35-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.180
WELD
    END-POINT    401294.600    137252.075    6324.600     6    
    END-POINT    401294.600    137252.075    6324.600     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4A14-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    402320.777    136754.855    6553.200     6    BW
    END-POINT    402526.500    136655.175    6324.600     6    BW
    CENTRE-POINT    402526.500    136655.175    6553.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.32 lbm
    UCI    {00013885-0000-0000-1714-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.485
WELD
    END-POINT    402526.500    136655.175    6324.600     6    
    END-POINT    402526.500    136655.175    6324.600     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4414-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    402526.500    136655.175    3810.000     6    BW
    END-POINT    402688.145    136816.820    3581.400     6    BW
    CENTRE-POINT    402526.500    136655.175    3581.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.32 lbm
    UCI    {00013885-0000-0000-2614-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.485
WELD
    END-POINT    402688.145    136816.820    3581.400     6    
    END-POINT    402688.145    136816.820    3581.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4614-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    402526.500    136655.175    3810.000     6    
    END-POINT    402526.500    136655.175    3810.000     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4E14-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    402526.500    136655.175    6324.600     6    
    END-POINT    402526.500    136655.175    3810.000     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    9.253
    UCI    {0001388C-0000-0000-1E14-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    168.3 lbm
    CUT-PIECE-LENGTH    2514.60
ELBOW
    END-POINT    402961.755    137090.430    3581.400     6    BW
    END-POINT    403123.400    137252.075    3810.000     6    BW
    CENTRE-POINT    403123.400    137252.075    3581.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.32 lbm
    UCI    {00013885-0000-0000-3514-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.485
WELD
    END-POINT    403123.400    137252.075    3810.000     6    
    END-POINT    403123.400    137252.075    3810.000     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4814-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    401294.600    137252.075    6324.600     6    BW
    END-POINT    401500.323    137152.395    6553.200     6    BW
    CENTRE-POINT    401294.600    137252.075    6553.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.32 lbm
    UCI    {00013885-0000-0000-0714-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.485
WELD
    END-POINT    401500.323    137152.395    6553.200     6    
    END-POINT    401500.323    137152.395    6553.200     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4114-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    401500.323    137152.395    6553.200     6    
    END-POINT    402320.777    136754.855    6553.200     6    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    9.253
    UCI    {0001388C-0000-0000-0F14-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    61.02 lbm
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    CUT-PIECE-LENGTH    911.69
WELD
    END-POINT    402320.777    136754.855    6553.200     6    
    END-POINT    402320.777    136754.855    6553.200     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4C14-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400303-WC
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-POSITION-OPEN
    CO-ORDS    403123.400    137252.075    3908.425
END-POSITION-OPEN
    CO-ORDS    401294.600    137252.075    6226.175
MATERIALS
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    FAAAMDCZZAADABQZZUS
    DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
