ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   0AAQ-007
    PIPING-SPEC   43
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   UNDEFINED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   AAQ
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 8/3/2010 4:24:27 PMToday's Date (Your format) : 03/08/10Today's Date (ISO8601 Small) : 2010-08-03 16:24:27
    PROJECT-IDENTIFIER   SMEPAMO
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    1884807.000    1369490.213    62957.908     1    PL
    END-POINT    1884807.000    1401598.986    62957.908     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-2E05-3692444B3C04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    176.98 lbm
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    CUT-PIECE-LENGTH    32108.77
WELD
    END-POINT    1884807.000    1369490.213    62957.908     1    
    END-POINT    1884807.000    1369490.213    62957.908     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6801-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
WELD
    END-POINT    1884807.000    1401598.986    62957.908     1    
    END-POINT    1884807.000    1401598.986    62957.908     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3705-3692444B3C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1893792.257    1369466.400    62957.908     1    PL
    END-POINT    1884830.812    1369466.400    62957.908     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-3E05-9BB3404B1E04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    49.39 lbm
    CUT-PIECE-LENGTH    8961.44
WELD
    END-POINT    1893792.257    1369466.400    62957.908     1    
    END-POINT    1893792.257    1369466.400    62957.908     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C902-A8D0544B5F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1884830.812    1369466.400    62957.908     1    SW
    END-POINT    1884807.000    1369490.213    62957.908     1    SW
    CENTRE-POINT    1884807.000    1369466.400    62957.908        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-5A01-40BE554B7004}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1884830.812    1369466.400    62957.908     1    
    END-POINT    1884830.812    1369466.400    62957.908     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6501-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1928742.684    1369466.400    62097.525     1    SW
    END-POINT    1928715.584    1369466.400    62086.299     1    SW
    CENTRE-POINT    1928731.459    1369466.400    62086.299        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-5900-40BE554B7004}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1928742.684    1369466.400    62097.525     1    
    END-POINT    1928742.684    1369466.400    62097.525     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6400-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1894695.616    1369466.400    62086.300     1    PL
    END-POINT    1928715.584    1369466.400    62086.300     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-8103-A8D0544B5F04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    187.51 lbm
    CUT-PIECE-LENGTH    34019.97
WELD
    END-POINT    1894695.616    1369466.400    62086.300     1    
    END-POINT    1894695.616    1369466.400    62086.300     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-AC02-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
WELD
    END-POINT    1928715.584    1369466.400    62086.299     1    
    END-POINT    1928715.584    1369466.400    62086.300     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6700-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1894668.516    1369466.400    62097.525     1    PL
    END-POINT    1893819.358    1369466.400    62946.683     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-6503-A8D0544B5F04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    6.62 lbm
    CUT-PIECE-LENGTH    1200.89
WELD
    END-POINT    1894668.516    1369466.400    62097.525     1    
    END-POINT    1894668.516    1369466.400    62097.525     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-AF02-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1929618.935    1369466.400    62957.900     1    SW
    END-POINT    1929591.834    1369466.400    62946.675     1    SW
    CENTRE-POINT    1929603.060    1369466.400    62957.900        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-1804-A8D0544B5F04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1929618.935    1369466.400    62957.900     1    
    END-POINT    1929618.935    1369466.400    62957.900     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2304-A8D0544B5F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1929591.834    1369466.400    62946.675     1    PL
    END-POINT    1928742.684    1369466.400    62097.525     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-4A00-40BE554B7004}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    6.62 lbm
    CUT-PIECE-LENGTH    1200.88
WELD
    END-POINT    1929591.834    1369466.400    62946.675     1    
    END-POINT    1929591.834    1369466.400    62946.675     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5000-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
FLANGE
    END-POINT    1967026.800    1376781.600    64617.600     1    
    END-POINT    1967026.800    1376781.600    64611.250     1    
    SKEY    FLSW
    ITEM-CODE    FCAABACIIA
    ITEM-DESCRIPTION    Flange, CL150, RFFE/SWE, ASTM A182-F304, ANSI-B16.5, S-40S
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-9701-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    1967026.800    1376781.600    62981.713     1    SW
    END-POINT    1967026.800    1376757.787    62957.900     1    SW
    CENTRE-POINT    1967026.800    1376781.600    62957.900        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-8101-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1967026.800    1376781.600    62981.713     1    
    END-POINT    1967026.800    1376781.600    62981.713     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8F01-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
TEE
    END-POINT    1884807.000    1401598.986    62957.908     1    SW
    END-POINT    1884807.000    1401646.611    62957.908     1    SW
    CENTRE-POINT    1884807.000    1401622.798    62957.908        
    BRANCH1-POINT    1884807.000    1401622.798    62981.721     1    SW
    SKEY    TE**
    ITEM-CODE    STAQZZZIIA
    ITEM-DESCRIPTION    Tee, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-2705-3692444B3C04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1884807.000    1401646.611    62957.908     1    
    END-POINT    1884807.000    1401646.611    62957.908     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3905-3692444B3C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1967026.800    1376781.600    64611.250     1    PL
    END-POINT    1967026.800    1376781.600    62981.713     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-7901-9BB3404B1E04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    8.98 lbm
    CUT-PIECE-LENGTH    1629.54
WELD
    END-POINT    1967026.800    1376781.600    64611.250     1    
    END-POINT    1967026.800    1376781.600    64611.250     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-BA01-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1894695.616    1369466.400    62086.300     1    SW
    END-POINT    1894668.516    1369466.400    62097.525     1    SW
    CENTRE-POINT    1894679.741    1369466.400    62086.300        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-A102-40BE554B7004}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    1967002.987    1369466.400    62957.900     1    SW
    END-POINT    1967026.800    1369490.213    62957.900     1    SW
    CENTRE-POINT    1967026.800    1369466.400    62957.900        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-6303-40BE554B7004}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1967026.800    1369490.213    62957.900     1    
    END-POINT    1967026.800    1369490.213    62957.900     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7103-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1967002.987    1369466.400    62957.900     1    PL
    END-POINT    1929618.935    1369466.400    62957.900     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-F901-A8D0544B5F04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    206.05 lbm
    CUT-PIECE-LENGTH    37384.05
WELD
    END-POINT    1967002.987    1369466.400    62957.900     1    
    END-POINT    1967002.987    1369466.400    62957.900     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6E03-40BE554B7004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1893792.257    1369466.400    62957.908     1    SW
    END-POINT    1893819.358    1369466.400    62946.683     1    SW
    CENTRE-POINT    1893808.132    1369466.400    62957.908        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-B302-A8D0544B5F04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1893819.358    1369466.400    62946.683     1    
    END-POINT    1893819.358    1369466.400    62946.683     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7003-A8D0544B5F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1967026.800    1376757.787    62957.900     1    PL
    END-POINT    1967026.800    1369490.213    62957.900     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-290C-C1BF484B4804}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    40.06 lbm
    CUT-PIECE-LENGTH    7267.57
WELD
    END-POINT    1967026.800    1376757.787    62957.900     1    
    END-POINT    1967026.800    1376757.787    62957.900     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9201-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1860134.075    1401622.800    62984.888     1    SW
    END-POINT    1860106.975    1401622.800    62973.663     1    SW
    CENTRE-POINT    1860118.200    1401622.800    62984.888        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-230F-7849604B6504}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1860134.075    1401622.800    62984.888     1    
    END-POINT    1860134.075    1401622.800    62984.888     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2E0F-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1858349.725    1401622.800    62984.888     1    SW
    END-POINT    1858376.825    1401622.800    62973.663     1    SW
    CENTRE-POINT    1858365.600    1401622.800    62984.888        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-1718-7849604B6504}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1858376.825    1401622.800    62973.663     1    
    END-POINT    1858376.825    1401622.800    62973.663     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3818-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1820799.000    1401646.612    62984.819     1    SW
    END-POINT    1820822.813    1401622.800    62984.888     1    SW
    CENTRE-POINT    1820799.000    1401622.800    62984.888        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-3A01-37EA874B3804}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1820799.000    1401646.612    62984.819     1    
    END-POINT    1820799.000    1401646.612    62984.819     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4301-37EA874B3804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
WELD
    END-POINT    1820822.813    1401622.800    62984.888     1    
    END-POINT    1820822.813    1401622.800    62984.888     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4601-37EA874B3804}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1858568.264    1401622.800    62798.099     1    SW
    END-POINT    1858541.164    1401622.800    62809.324     1    SW
    CENTRE-POINT    1858552.389    1401622.800    62798.099        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-4318-7849604B6504}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1858568.264    1401622.800    62798.099     1    
    END-POINT    1858568.264    1401622.800    62798.099     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5118-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1858376.825    1401622.800    62973.663     1    PL
    END-POINT    1858541.164    1401622.800    62809.324     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-3218-7849604B6504}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    1.28 lbm
    CUT-PIECE-LENGTH    232.41
WELD
    END-POINT    1858541.164    1401622.800    62809.324     1    
    END-POINT    1858541.164    1401622.800    62809.324     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4E18-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1860134.075    1401622.800    62984.888     1    PL
    END-POINT    1884097.387    1401622.800    62984.888     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-C503-16384F4B6F04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    132.08 lbm
    CUT-PIECE-LENGTH    23963.31
WELD
    END-POINT    1884097.387    1401622.800    62984.888     1    
    END-POINT    1884097.387    1401622.800    62984.888     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2505-16384F4B6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1884121.200    1401622.800    63324.628     1    PL
    END-POINT    1884121.200    1401622.800    63008.701     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-1505-16384F4B6F04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    1.74 lbm
    CUT-PIECE-LENGTH    315.93
WELD
    END-POINT    1884121.200    1401622.800    63324.628     1    
    END-POINT    1884121.200    1401622.800    63324.628     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1E05-16384F4B6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1859942.636    1401622.800    62809.324     1    SW
    END-POINT    1859915.536    1401622.800    62798.099     1    SW
    CENTRE-POINT    1859931.411    1401622.800    62798.099        
    SKEY    EL**
    ITEM-CODE    SLCQZZZIIA
    ITEM-DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-9B13-7849604B6504}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1859942.636    1401622.800    62809.324     1    
    END-POINT    1859942.636    1401622.800    62809.324     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A913-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1860106.975    1401622.800    62973.663     1    PL
    END-POINT    1859942.636    1401622.800    62809.324     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-8E13-7849604B6504}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    1.28 lbm
    CUT-PIECE-LENGTH    232.41
WELD
    END-POINT    1860106.975    1401622.800    62973.663     1    
    END-POINT    1860106.975    1401622.800    62973.663     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9413-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1884121.200    1401622.800    63008.701     1    SW
    END-POINT    1884097.387    1401622.800    62984.888     1    SW
    CENTRE-POINT    1884121.200    1401622.800    62984.888        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-0E05-16384F4B6F04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1884121.200    1401622.800    63008.701     1    
    END-POINT    1884121.200    1401622.800    63008.701     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2305-16384F4B6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1884121.200    1401622.800    63324.628     1    SW
    END-POINT    1884145.012    1401622.800    63348.441     1    SW
    CENTRE-POINT    1884121.200    1401622.800    63348.441        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-0705-16384F4B6F04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1884145.012    1401622.800    63348.441     1    
    END-POINT    1884145.012    1401622.800    63348.441     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2105-16384F4B6F04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1859915.536    1401622.800    62798.099     1    PL
    END-POINT    1858568.264    1401622.800    62798.099     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-A213-7849604B6504}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    7.43 lbm
    CUT-PIECE-LENGTH    1347.27
WELD
    END-POINT    1859915.536    1401622.800    62798.099     1    
    END-POINT    1859915.536    1401622.800    62798.099     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-AC13-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1820822.813    1401622.800    62984.888     1    PL
    END-POINT    1858349.725    1401622.800    62984.888     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-E20E-7849604B6504}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    206.84 lbm
    CUT-PIECE-LENGTH    37526.91
WELD
    END-POINT    1858349.725    1401622.800    62984.888     1    
    END-POINT    1858349.725    1401622.800    62984.888     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2218-7849604B6504}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
FLANGE
    END-POINT    1820799.000    1410652.510    64618.374     1    
    END-POINT    1820799.000    1410652.510    64612.024     1    
    SKEY    FLSW
    ITEM-CODE    FCAABACIIA
    ITEM-DESCRIPTION    Flange, CL150, RFFE/SWE, ASTM A182-F304, ANSI-B16.5, S-40S
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-240B-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
ELBOW
    END-POINT    1820799.000    1410652.510    62982.461     1    SW
    END-POINT    1820799.000    1410628.724    62958.656     1    SW
    CENTRE-POINT    1820799.000    1410652.510    62958.675        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    ANGLE    9017
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-010B-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1820799.000    1410652.510    62982.461     1    
    END-POINT    1820799.000    1410652.510    62982.461     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1A0B-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1820799.000    1410628.724    62958.744     1    PL
    END-POINT    1820799.000    1401646.612    62984.819     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-D90B-9BB3404B1E04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    49.51 lbm
    CUT-PIECE-LENGTH    8982.15
WELD
    END-POINT    1820799.000    1410628.724    62958.656     1    
    END-POINT    1820799.000    1410628.724    62958.744     1    
    SKEY    WMF
    ANGLE    21
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1D0B-9BB3404B1E04}
    CATEGORY    ERECTION
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1884145.012    1401622.800    63348.441     1    PL
    END-POINT    1884783.187    1401622.800    63348.441     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-5A0C-9BB3404B1E04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    3.52 lbm
    CUT-PIECE-LENGTH    638.17
WELD
    END-POINT    1884783.187    1401622.800    63348.441     1    
    END-POINT    1884783.187    1401622.800    63348.441     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-660C-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
ELBOW
    END-POINT    1884783.187    1401622.800    63348.441     1    SW
    END-POINT    1884807.000    1401622.800    63324.628     1    SW
    CENTRE-POINT    1884807.000    1401622.800    63348.441        
    SKEY    EL**
    ITEM-CODE    SLAQZZZIIA
    ITEM-DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-530C-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
WELD
    END-POINT    1884807.000    1401622.800    63324.628     1    
    END-POINT    1884807.000    1401622.800    63324.628     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-680C-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1884807.000    1401622.800    63324.628     1    PL
    END-POINT    1884807.000    1401622.798    62981.721     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-4F02-F0BF444B5B04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    1.89 lbm
    CUT-PIECE-LENGTH    342.91
WELD
    END-POINT    1884807.000    1401622.798    62981.721     1    
    END-POINT    1884807.000    1401622.798    62981.721     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C605-F0BF444B5B04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    1820799.000    1410652.510    64612.024     1    PL
    END-POINT    1820799.000    1410652.510    62982.461     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-F80A-9BB3404B1E04}
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    120. F
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    8.98 lbm
    CUT-PIECE-LENGTH    1629.56
WELD
    END-POINT    1820799.000    1410652.510    64612.024     1    
    END-POINT    1820799.000    1410652.510    64612.024     1    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3A0B-9BB3404B1E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    0AAQ-007
    WELD-ATTRIBUTE2     1
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
GASKET
    END-POINT    1967026.800    1376781.600    64620.775     1    
    END-POINT    1967026.800    1376781.600    64617.600     1    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-6903-9BB3404B1E04}
    ITEM-CODE    XDAABZZQSG
    ITEM-DESCRIPTION    Gasket, CL150, G653, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
FLANGE
    CONTINUATION
    END-POINT    1967026.800    1376781.600    64620.775     1    
    END-POINT    1967026.800    1376781.600    64627.125     1    
    SKEY    FLSW
    ITEM-CODE    FCAABACIIA
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-6003-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
PIPE
    END-POINT    1884807.000    1401646.611    62957.908     1    PL
    END-POINT    1884807.000    1432090.610    62957.908     1    PL
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    WEIGHT    0.762
    UCI    {0001388C-0000-0000-D600-F0BF444B5B04}
    MATERIAL-LIST    EXCLUDE
    ITEM-CODE    PADAAACIIA
    ITEM-DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
    COMPONENT-ATTRIBUTE3    A312-TP304
    COMPONENT-ATTRIBUTE4    .133 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    COMPONENT-ATTRIBUTE8    167.8 lbm
    CONTINUATION
GASKET
    END-POINT    1820799.000    1410652.510    64618.374     1    
    END-POINT    1820799.000    1410652.510    64621.549     1    
    ERECTION-ITEM
    UCI    {000138A8-0000-0000-A90B-9BB3404B1E04}
    ITEM-CODE    XDAABZZQSG
    ITEM-DESCRIPTION    Gasket, CL150, G653, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
FLANGE
    CONTINUATION
    END-POINT    1820799.000    1410652.510    64621.549     1    
    END-POINT    1820799.000    1410652.510    64627.899     1    
    SKEY    FLSW
    ITEM-CODE    FCAABACIIA
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    14400. psf
    COMPONENT-ATTRIBUTE2    110. F
    COMPONENT-ATTRIBUTE3    A182-F304
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE6    0  lbm/in^3
    UCI    {00013885-0000-0000-A00B-9BB3404B1E04}
    INSULATION ON
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    UNDEFINED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    43
    ERECTION-ITEM
    WEIGHT    0.000
END-CONNECTION-PIPELINE
    CO-ORDS    1967026.800    1376781.600    64627.125
    CONNECTION-REFERENCE  0AAQ-006
END-CONNECTION-PIPELINE
    CO-ORDS    1884807.000    1432090.610    62957.908
    CONNECTION-REFERENCE  2AAQ-008
END-CONNECTION-PIPELINE
    CO-ORDS    1820799.000    1410652.510    64627.899
    CONNECTION-REFERENCE  1AAQ-009
MATERIALS
ITEM-CODE    PADAAACIIA
    DESCRIPTION    Pipe, S-40S, PE, ASTM A312-TP304 smls
ITEM-CODE    SLAQZZZIIA
    DESCRIPTION    90 deg elbow, CL3000, SWE, ASTM A182-F304
ITEM-CODE    SLCQZZZIIA
    DESCRIPTION    45 deg elbow, CL3000, SWE, ASTM A182-F304
ITEM-CODE    FCAABACIIA
    DESCRIPTION    Flange, CL150, RFFE/SWE, ASTM A182-F304, ANSI-B16.5, S-40S
ITEM-CODE    STAQZZZIIA
    DESCRIPTION    Tee, CL3000, SWE, ASTM A182-F304
ITEM-CODE    XDAABZZQSG
    DESCRIPTION    Gasket, CL150, G653, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
