ISOGEN-FILES ISOGEN.FLS
UNITS-BORE INCH
UNITS-CO-ORDS INCH
UNITS-WEIGHT LBS
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH INCH
PIPELINE-REFERENCE 27682C-8"-IST
    PIPING-SPEC C
    DATE-DMY 10/01/08
ELBOW
    END-POINT      -28583.3870   10012.0933    3066.5625       8.0000
    END-POINT      -28583.3870   10000.0933    3078.5625       8.0000
    CENTRE-POINT   -28583.3870   10012.0933    3078.5625
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     16
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28583.3870    9706.0063    3066.5625       8.0000
    END-POINT      -28583.3870    9718.0063    3078.5625       8.0000
    CENTRE-POINT   -28583.3870    9706.0063    3078.5625
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     15
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
TEE
    END-POINT      -28583.3870    9871.0895    3080.6250      12.0000
    END-POINT      -28583.3870    9851.0895    3080.6250      12.0000
    BRANCH1-POINT  -28573.3870    9861.0895    3080.6250      12.0000
    CENTRE-POINT   -28583.3870    9861.0895    3080.6250
    UNIQUE-COMPONENT-IDENTIFIER     14
    SKEY  TEBW
    FABRICATION-ITEM
    ITEM-CODE  3
    WEIGHT  162.000000
    COMPONENT-ATTRIBUTE4 0008
    COMPONENT-ATTRIBUTE2 TEE STR
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870   10000.0933    3078.5625       8.0000
    END-POINT      -28583.3870    9879.0895    3078.5625       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
REDUCER-ECCENTRIC
    END-POINT      -28583.3870    9871.0895    3080.6250      12.0000
    END-POINT      -28583.3870    9879.0895    3078.5625       8.0000
    FLAT-DIRECTION DOWN
    SKEY  REBW
    FABRICATION-ITEM
    ITEM-CODE  5
    WEIGHT  32.100000
    COMPONENT-ATTRIBUTE4 0011
    TAG F.O.B.
    COMPONENT-ATTRIBUTE3 F.O.B.
    COMPONENT-ATTRIBUTE2 ECC RED
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
REDUCER-ECCENTRIC
    END-POINT      -28583.3870    9851.0895    3080.6250      12.0000
    END-POINT      -28583.3870    9843.0895    3078.5625       8.0000
    FLAT-DIRECTION DOWN
    SKEY  REBW
    FABRICATION-ITEM
    ITEM-CODE  5
    WEIGHT  32.100000
    COMPONENT-ATTRIBUTE4 0011
    TAG F.O.B.
    COMPONENT-ATTRIBUTE3 F.O.B.
    COMPONENT-ATTRIBUTE2 ECC RED
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870    9718.0063    3078.5625       8.0000
    END-POINT      -28583.3870    9843.0895    3078.5625       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28583.3870    9861.0895    3087.0000
    BRANCH1-POINT  -28583.3870    9861.0895    3087.8125       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
TAP-CONNECTION    CP
    CO-ORDS    -28583.3870    9861.0895    3087.0000       1.0000 BW
    UNIQUE-COMPONENT-IDENTIFIER     14
COUPLING
    END-POINT      -28583.3870    9861.0895    3087.8125       1.0000
    END-POINT      -28583.3870    9861.0895    3091.8125       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870    9861.0895    3091.8125       1.0000
    END-POINT      -28583.3870    9861.0895    3094.8125       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    SPINDLE-DIRECTION WEST
    COMPONENT-ATTRIBUTE4 0071
    TAG HW-W 
    COMPONENT-ATTRIBUTE3 HW-W 
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28583.3870    9861.0895    3094.8125       1.0000
    END-POINT      -28583.3870    9861.0895    3096.8125       1.0000
    CENTRE-POINT   -28583.3870    9861.0895    3095.8125
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28573.3870    9861.0895    3080.6250      12.0000
    END-POINT      -28568.2620    9861.0895    3080.6250      12.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  138.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28568.2620    9861.0895    3080.6250      12.0000
    END-POINT      -28568.1370    9861.0895    3080.6250      12.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28568.2620    9861.0895    3080.6250
    BOLT-QUANTITY             1
    BOLT-DIA                  1.1250
    BOLT-LENGTH               7.0000
    ERECTION-ITEM
    BOLT-ITEM-CODE  14
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9706.0063    2989.8997       8.0000
    END-POINT      -28583.3870    9706.0063    2994.2747       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9706.0063    2994.2747       8.0000
    END-POINT      -28583.3870    9706.0063    2994.3997       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870    9706.0063    2994.3997       8.0000
    END-POINT      -28583.3870    9706.0063    3010.8997       8.0000
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  500.000000
    SPINDLE-DIRECTION SOUTH
    COMPONENT-ATTRIBUTE4 0070
    TAG HW-S 
    COMPONENT-ATTRIBUTE3 HW-S 
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9706.0063    3010.8997       8.0000
    END-POINT      -28583.3870    9706.0063    3011.0247       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9706.0063    3015.3997       8.0000
    END-POINT      -28583.3870    9706.0063    3011.0247       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28637.7156   10019.0933    2987.2810       8.0000
    END-POINT      -28637.7156   10031.0933    2999.2810       8.0000
    CENTRE-POINT   -28637.7156   10031.0933    2987.2810
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     13
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28583.3870   10031.0933    2994.8997       8.0000
    END-POINT      -28583.3870   10019.0933    2982.8997       8.0000
    CENTRE-POINT   -28583.3870   10031.0933    2982.8997
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     12
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870   10005.0933    2982.8997       8.0000
    END-POINT      -28583.3870    9997.0933    2982.8997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
TEE
    END-POINT      -28583.3870   10005.0933    2982.8997       8.0000
    END-POINT      -28583.3870   10019.0933    2982.8997       8.0000
    BRANCH1-POINT  -28583.3870   10012.0933    2989.8997       8.0000
    CENTRE-POINT   -28583.3870   10012.0933    2982.8997
    UNIQUE-COMPONENT-IDENTIFIER     11
    SKEY  TEBW
    FABRICATION-ITEM
    ITEM-CODE  3
    WEIGHT  60.200000
    COMPONENT-ATTRIBUTE4 0008
    COMPONENT-ATTRIBUTE2 TEE STR
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870   10012.0933    2989.8997       8.0000
    END-POINT      -28583.3870   10012.0933    2994.2747       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870   10012.0933    2994.2747       8.0000
    END-POINT      -28583.3870   10012.0933    2994.3997       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870   10012.0933    2994.3997       8.0000
    END-POINT      -28583.3870   10012.0933    3010.8997       8.0000
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  500.000000
    SPINDLE-DIRECTION NORTH
    COMPONENT-ATTRIBUTE4 0070
    TAG HW-N 
    COMPONENT-ATTRIBUTE3 HW-N 
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870   10012.0933    3010.8997       8.0000
    END-POINT      -28583.3870   10012.0933    3011.0247       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870   10012.0933    3015.3997       8.0000
    END-POINT      -28583.3870   10012.0933    3011.0247       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870   10012.0933    3066.5625       8.0000
    END-POINT      -28583.3870   10012.0933    3015.3997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870    9741.1313    2982.8997       2.0000
    END-POINT      -28583.3870    9747.1313    2982.8997       2.0000
    FABRICATION-ITEM
    ITEM-CODE  30
    WEIGHT  5.020000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9747.1313    2982.8997       2.0000
    END-POINT      -28583.3870    9749.8813    2982.8997       2.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  31
    WEIGHT  9.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9749.8813    2982.8997       2.0000
    END-POINT      -28583.3870    9750.0063    2982.8997       2.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870    9750.0063    2982.8997       2.0000
    END-POINT      -28583.3870    9758.5063    2982.8997       2.0000
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  74.000000
    SPINDLE-DIRECTION UP
    COMPONENT-ATTRIBUTE4 0070
    TAG HW-U /45 DEG EAST
    COMPONENT-ATTRIBUTE3 HW-U /45 DEG EAST
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9758.5063    2982.8997       2.0000
    END-POINT      -28583.3870    9758.6313    2982.8997       2.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE-BLIND
    END-POINT      -28583.3870    9758.6313    2982.8997       2.0000
    END-POINT      -28583.3870    9759.5063    2982.8997       2.0000
    SKEY  FLBL
    ERECTION-ITEM
    ITEM-CODE  35
    WEIGHT  8.000000
    COMPONENT-ATTRIBUTE4 0020
    COMPONENT-ATTRIBUTE2 FLG. RF BLD
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870    9976.9683    2982.8997       2.0000
    END-POINT      -28583.3870    9970.9683    2982.8997       2.0000
    FABRICATION-ITEM
    ITEM-CODE  30
    WEIGHT  5.020000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9970.9683    2982.8997       2.0000
    END-POINT      -28583.3870    9968.2183    2982.8997       2.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  31
    WEIGHT  9.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9968.2183    2982.8997       2.0000
    END-POINT      -28583.3870    9968.0933    2982.8997       2.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870    9968.0933    2982.8997       2.0000
    END-POINT      -28583.3870    9959.5933    2982.8997       2.0000
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  74.000000
    SPINDLE-DIRECTION UP
    COMPONENT-ATTRIBUTE4 0070
    TAG HW-U /45 DEG EAST
    COMPONENT-ATTRIBUTE3 HW-U /45 DEG EAST
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9959.5933    2982.8997       2.0000
    END-POINT      -28583.3870    9959.4683    2982.8997       2.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE-BLIND
    END-POINT      -28583.3870    9959.4683    2982.8997       2.0000
    END-POINT      -28583.3870    9958.5933    2982.8997       2.0000
    SKEY  FLBL
    ERECTION-ITEM
    ITEM-CODE  35
    WEIGHT  8.000000
    COMPONENT-ATTRIBUTE4 0020
    COMPONENT-ATTRIBUTE2 FLG. RF BLD
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156   10011.3696    2987.2810       8.0000
    SKEY  SHU1
    FABRICATION-ITEM
    ITEM-CODE  42
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28619.7156   10031.0933    3091.3997
    BRANCH1-POINT  -28619.7156   10031.0933    3096.5247       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28619.7156   10031.0933    3096.5247       1.0000
    END-POINT      -28619.7156   10031.0933    3100.5247       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28619.7156   10031.0933    3100.5247       1.0000
    END-POINT      -28619.7156   10031.0933    3103.5247       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    SPINDLE-DIRECTION NORTH
    COMPONENT-ATTRIBUTE4 0071
    TAG HW-N 
    COMPONENT-ATTRIBUTE3 HW-N 
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28619.7156   10031.0933    3103.5247       1.0000
    END-POINT      -28619.7156   10031.0933    3105.5247       1.0000
    CENTRE-POINT   -28619.7156   10031.0933    3104.5247
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28583.3870   10012.0933    3018.3997
    BRANCH1-POINT  -28588.5120   10012.0933    3018.3997       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28588.5120   10012.0933    3018.3997       1.0000
    END-POINT      -28592.5120   10012.0933    3018.3997       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28592.5120   10012.0933    3018.3997       1.0000
    END-POINT      -28595.5120   10012.0933    3018.3997       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    SPINDLE-DIRECTION SOUTH
    COMPONENT-ATTRIBUTE4 0071
    TAG HW-S 
    COMPONENT-ATTRIBUTE3 HW-S 
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28595.5120   10012.0933    3018.3997       1.0000
    END-POINT      -28597.5120   10012.0933    3018.3997       1.0000
    CENTRE-POINT   -28596.5120   10012.0933    3018.3997
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28583.3870    9706.0063    3018.3997
    BRANCH1-POINT  -28588.5120    9706.0063    3018.3997       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28588.5120    9706.0063    3018.3997       1.0000
    END-POINT      -28592.5120    9706.0063    3018.3997       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28592.5120    9706.0063    3018.3997       1.0000
    END-POINT      -28595.5120    9706.0063    3018.3997       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    SPINDLE-DIRECTION NORTH
    COMPONENT-ATTRIBUTE4 0071
    TAG HW-N 
    COMPONENT-ATTRIBUTE3 HW-N 
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28595.5120    9706.0063    3018.3997       1.0000
    END-POINT      -28597.5120    9706.0063    3018.3997       1.0000
    CENTRE-POINT   -28596.5120    9706.0063    3018.3997
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9735.0063    2982.8997       8.0000
    END-POINT      -28583.3870    9739.3813    2982.8997       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9739.3813    2982.8997       8.0000
    END-POINT      -28583.3870    9739.5063    2982.8997       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE-BLIND
    END-POINT      -28583.3870    9739.5063    2982.8997       8.0000
    END-POINT      -28583.3870    9741.1313    2982.8997       8.0000
    SKEY  FLBL
    FABRICATION-ITEM
    ITEM-CODE  35
    WEIGHT  81.000000
    COMPONENT-ATTRIBUTE4 0020
    COMPONENT-ATTRIBUTE2 FLG. RF BLD
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9983.0933    2982.8997       8.0000
    END-POINT      -28583.3870    9978.7183    2982.8997       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9978.7183    2982.8997       8.0000
    END-POINT      -28583.3870    9978.5933    2982.8997       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE-BLIND
    END-POINT      -28583.3870    9978.5933    2982.8997       8.0000
    END-POINT      -28583.3870    9976.9683    2982.8997       8.0000
    SKEY  FLBL
    FABRICATION-ITEM
    ITEM-CODE  35
    WEIGHT  81.000000
    COMPONENT-ATTRIBUTE4 0020
    COMPONENT-ATTRIBUTE2 FLG. RF BLD
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9978.7183    2982.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9959.5933    2982.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.6250
    BOLT-LENGTH               3.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  62
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9968.2183    2982.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.6250
    BOLT-LENGTH               3.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  62
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870   10012.0933    3010.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870   10012.0933    2994.2747
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9739.3813    2982.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9758.5063    2982.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.6250
    BOLT-LENGTH               3.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  62
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9749.8813    2982.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.6250
    BOLT-LENGTH               3.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  62
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9706.0063    3010.8997
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9706.0063    2994.2747
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870    9706.0063    3066.5625       8.0000
    END-POINT      -28583.3870    9706.0063    3015.3997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9728.0063    2982.8997       8.0000
    SKEY  DUCK
    FABRICATION-ITEM
    ITEM-CODE  72
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9728.0063    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  73
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9728.0063    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  74
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9728.0063    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  75
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9728.0063    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  76
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9728.0063    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  77
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9990.0933    2982.8997       8.0000
    SKEY  DUCK
    FABRICATION-ITEM
    ITEM-CODE  72
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9990.0933    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  73
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9990.0933    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  74
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9990.0933    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  75
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9990.0933    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  76
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9990.0933    2982.8997       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  77
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 2.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
TEE
    END-POINT      -28583.3870    9721.0063    2982.8997       8.0000
    END-POINT      -28583.3870    9735.0063    2982.8997       8.0000
    BRANCH1-POINT  -28583.3870    9728.0063    2989.8997       8.0000
    CENTRE-POINT   -28583.3870    9728.0063    2982.8997
    UNIQUE-COMPONENT-IDENTIFIER     10
    SKEY  TEBW
    FABRICATION-ITEM
    ITEM-CODE  3
    WEIGHT  60.200000
    COMPONENT-ATTRIBUTE4 0008
    COMPONENT-ATTRIBUTE2 TEE STR
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9728.0063    2989.8997       8.0000
    END-POINT      -28583.3870    9728.0063    2994.2747       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9728.0063    2994.2747       8.0000
    END-POINT      -28583.3870    9728.0063    2994.3997       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870    9728.0063    2994.3997       8.0000
    END-POINT      -28583.3870    9728.0063    3010.8997       8.0000
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  500.000000
    SPINDLE-DIRECTION NORTH
    COMPONENT-ATTRIBUTE4 0070
    TAG HW-N 
    COMPONENT-ATTRIBUTE3 HW-N 
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
TEE
    END-POINT      -28583.3870    9997.0933    2982.8997       8.0000
    END-POINT      -28583.3870    9983.0933    2982.8997       8.0000
    BRANCH1-POINT  -28583.3870    9990.0933    2989.8997       8.0000
    CENTRE-POINT   -28583.3870    9990.0933    2982.8997
    UNIQUE-COMPONENT-IDENTIFIER     9
    SKEY  TEBW
    FABRICATION-ITEM
    ITEM-CODE  3
    WEIGHT  60.200000
    COMPONENT-ATTRIBUTE4 0008
    COMPONENT-ATTRIBUTE2 TEE STR
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28583.3870    9990.0933    2989.8997       8.0000
    END-POINT      -28583.3870    9990.0933    2994.2747       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28583.3870    9990.0933    2994.2747       8.0000
    END-POINT      -28583.3870    9990.0933    2994.3997       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28583.3870    9990.0933    2994.3997       8.0000
    END-POINT      -28583.3870    9990.0933    3010.8997       8.0000
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  500.000000
    SPINDLE-DIRECTION SOUTH
    COMPONENT-ATTRIBUTE4 0070
    TAG HW-S 
    COMPONENT-ATTRIBUTE3 HW-S 
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9728.0063    2994.2747
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28583.3870    9990.0933    2994.2747
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28583.3870   10031.0933    3079.3997       8.0000
    END-POINT      -28595.3870   10031.0933    3091.3997       8.0000
    CENTRE-POINT   -28583.3870   10031.0933    3091.3997
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     8
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28625.7156   10031.0933    3091.3997       8.0000
    END-POINT      -28637.7156   10031.0933    3079.3997       8.0000
    CENTRE-POINT   -28637.7156   10031.0933    3091.3997
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     7
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28625.7156   10031.0933    3091.3997       8.0000
    END-POINT      -28595.3870   10031.0933    3091.3997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28637.7156   10031.0933    3079.3997       8.0000
    END-POINT      -28637.7156   10031.0933    2999.2810       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870   10031.0933    3079.3997       8.0000
    END-POINT      -28583.3870   10031.0933    2994.8997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28637.7156    9699.0063    2987.2810       8.0000
    END-POINT      -28637.7156    9687.0063    2999.2810       8.0000
    CENTRE-POINT   -28637.7156    9687.0063    2987.2810
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     6
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
TEE
    END-POINT      -28583.3870    9699.0063    2982.8997       8.0000
    END-POINT      -28583.3870    9713.0063    2982.8997       8.0000
    BRANCH1-POINT  -28583.3870    9706.0063    2989.8997       8.0000
    CENTRE-POINT   -28583.3870    9706.0063    2982.8997
    UNIQUE-COMPONENT-IDENTIFIER     5
    SKEY  TEBW
    FABRICATION-ITEM
    ITEM-CODE  3
    WEIGHT  60.200000
    COMPONENT-ATTRIBUTE4 0008
    COMPONENT-ATTRIBUTE2 TEE STR
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28583.3870    9699.0063    2982.8997       8.0000
    END-POINT      -28583.3870    9687.0063    2994.8997       8.0000
    CENTRE-POINT   -28583.3870    9687.0063    2982.8997
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     4
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28583.3870    9687.0063    3079.3997       8.0000
    END-POINT      -28595.3870    9687.0063    3091.3997       8.0000
    CENTRE-POINT   -28583.3870    9687.0063    3091.3997
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     3
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28595.3870    9687.0063    3091.3997       8.0000
    END-POINT      -28625.7156    9687.0063    3091.3997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28625.7156    9687.0063    3091.3997       8.0000
    END-POINT      -28637.7156    9687.0063    3079.3997       8.0000
    CENTRE-POINT   -28637.7156    9687.0063    3091.3997
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     2
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870    9687.0063    3079.3997       8.0000
    END-POINT      -28583.3870    9687.0063    2994.8997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28637.7156    9687.0063    3079.3997       8.0000
    END-POINT      -28637.7156    9687.0063    2999.2810       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9705.9050    2987.2810       8.0000
    SKEY  SHU1
    FABRICATION-ITEM
    ITEM-CODE  42
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28583.3870    9721.0063    2982.8997       8.0000
    END-POINT      -28583.3870    9713.0063    2982.8997       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28619.7156    9687.0063    3091.3997
    BRANCH1-POINT  -28619.7156    9687.0063    3096.5247       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28619.7156    9687.0063    3096.5247       1.0000
    END-POINT      -28619.7156    9687.0063    3100.5247       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28619.7156    9687.0063    3100.5247       1.0000
    END-POINT      -28619.7156    9687.0063    3103.5247       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    SPINDLE-DIRECTION SOUTH
    COMPONENT-ATTRIBUTE4 0071
    TAG HW-N 
    COMPONENT-ATTRIBUTE3 HW-N 
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28619.7156    9687.0063    3103.5247       1.0000
    END-POINT      -28619.7156    9687.0063    3105.5247       1.0000
    CENTRE-POINT   -28619.7156    9687.0063    3104.5247
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28619.7156    9687.0063    3091.3997       8.0000
    SKEY  SHU1
    FABRICATION-ITEM
    ITEM-CODE  42
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28618.2611   10031.0933    3091.3997       8.0000
    SKEY  SHU1
    FABRICATION-ITEM
    ITEM-CODE  42
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
WELD
    END-POINT      -28583.3870   10031.0933    2994.8997       8.0000
    END-POINT      -28583.3870   10031.0933    2994.8997       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
WELD
    END-POINT      -28583.3870    9687.0063    2994.8997       8.0000
    END-POINT      -28583.3870    9687.0063    2994.8997       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
WELD
    END-POINT      -28637.7156    9687.0063    2999.2810       8.0000
    END-POINT      -28637.7156    9687.0063    2999.2810       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
FLANGE
    END-POINT      -28686.6250    9780.0000    2985.7500       5.0000
    END-POINT      -28682.7500    9780.0000    2985.7500       5.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  118
    WEIGHT  32.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28682.7500    9780.0000    2985.7500       5.0000
    END-POINT      -28682.6250    9780.0000    2985.7500       5.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28678.7500    9780.0000    2985.7500       5.0000
    END-POINT      -28682.6250    9780.0000    2985.7500       5.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  32.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
REDUCER-ECCENTRIC
    END-POINT      -28672.7500    9780.0000    2987.2810       8.0000
    END-POINT      -28678.7500    9780.0000    2985.7500       5.0000
    FLAT-DIRECTION DOWN
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  REBW
    FABRICATION-ITEM
    ITEM-CODE  121
    WEIGHT  18.500000
    COMPONENT-ATTRIBUTE4 0011
    COMPONENT-ATTRIBUTE2 ECC RED
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28649.7156    9780.0000    2987.2810       8.0000
    END-POINT      -28637.7156    9768.0000    2987.2810       8.0000
    CENTRE-POINT   -28637.7156    9780.0000    2987.2810
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     1
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28672.7500    9780.0000    2987.2810       8.0000
    END-POINT      -28649.7156    9780.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28637.7156    9768.0000    2987.2810       8.0000
    END-POINT      -28637.7156    9763.6250    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28637.7156    9763.6250    2987.2810       8.0000
    END-POINT      -28637.7156    9763.5000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9763.5000    2987.2810       8.0000
    END-POINT      -28637.7156    9742.5000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  CKFL
    ERECTION-ITEM
    ITEM-CODE  126
    WEIGHT  620.000000
    COMPONENT-ATTRIBUTE4 0067
    COMPONENT-ATTRIBUTE2 CHECK VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28637.7156    9742.5000    2987.2810       8.0000
    END-POINT      -28637.7156    9742.3750    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9742.3750    2987.2810       8.0000
    END-POINT      -28637.7156    9725.8750    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  500.000000
    COMPONENT-ATTRIBUTE4 0070
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28637.7156    9725.8750    2987.2810       8.0000
    END-POINT      -28637.7156    9725.7500    2987.2810       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28637.7156    9721.3750    2987.2810       8.0000
    END-POINT      -28637.7156    9725.7500    2987.2810       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28637.7156    9721.3750    2987.2810       8.0000
    END-POINT      -28637.7156    9699.0063    2987.2810       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28664.6250    9780.0000    2987.2810
    BRANCH1-POINT  -28664.6250    9780.0000    2993.5935       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  WTBW
    FABRICATION-ITEM
    ITEM-CODE  132
    WEIGHT  6.300000
    COMPONENT-ATTRIBUTE4 0062
    COMPONENT-ATTRIBUTE2 WOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.6250    9780.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  133
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-6
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9780.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    ERECTION-ITEM
    ITEM-CODE  134
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28686.6250    9936.0000    2985.7500       5.0000
    END-POINT      -28682.7500    9936.0000    2985.7500       5.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  135
    WEIGHT  32.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28682.7500    9936.0000    2985.7500       5.0000
    END-POINT      -28682.6250    9936.0000    2985.7500       5.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28678.7500    9936.0000    2985.7500       5.0000
    END-POINT      -28682.6250    9936.0000    2985.7500       5.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  32.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
REDUCER-ECCENTRIC
    END-POINT      -28672.7500    9936.0000    2987.2810       8.0000
    END-POINT      -28678.7500    9936.0000    2985.7500       5.0000
    FLAT-DIRECTION DOWN
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  REBW
    FABRICATION-ITEM
    ITEM-CODE  121
    WEIGHT  18.500000
    COMPONENT-ATTRIBUTE4 0011
    COMPONENT-ATTRIBUTE2 ECC RED
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ELBOW
    END-POINT      -28637.7156    9948.0000    2987.2810       8.0000
    END-POINT      -28649.7156    9936.0000    2987.2810       8.0000
    CENTRE-POINT   -28637.7156    9936.0000    2987.2810
    ANGLE               9000
    UNIQUE-COMPONENT-IDENTIFIER     0
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  ELBW
    FABRICATION-ITEM
    ITEM-CODE  1
    WEIGHT  44.900000
    COMPONENT-ATTRIBUTE4 0002
    COMPONENT-ATTRIBUTE2 LR 90 ELL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28649.7156    9936.0000    2987.2810       8.0000
    END-POINT      -28672.7500    9936.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28664.6250    9936.0000    2987.2810
    BRANCH1-POINT  -28664.6250    9936.0000    2993.5935       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  WTBW
    FABRICATION-ITEM
    ITEM-CODE  132
    WEIGHT  6.300000
    COMPONENT-ATTRIBUTE4 0062
    COMPONENT-ATTRIBUTE2 WOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28664.6250    9936.0000    3007.4060       4.0000
    END-POINT      -28664.6250    9936.0000    3010.7810       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  25.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28664.6250    9936.0000    3010.7810       4.0000
    END-POINT      -28664.6250    9936.0000    3010.9060       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28664.6250    9936.0000    3007.4060       4.0000
    END-POINT      -28664.6250    9936.0000    2993.5935       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  10.790000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE-ANGLE
    END-POINT      -28674.6250    9936.0000    3019.7810       6.0000
    END-POINT      -28664.6250    9936.0000    3010.9060       4.0000
    CENTRE-POINT   -28664.6250    9936.0000    3019.7810
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  ARFL
    FABRICATION-ITEM
    ITEM-CODE  145
    WEIGHT  148.000000
    COMPONENT-ATTRIBUTE4 0079
    COMPONENT-ATTRIBUTE2 RELIEF VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28664.6250    9780.0000    3007.4060       4.0000
    END-POINT      -28664.6250    9780.0000    3010.7810       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  25.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28664.6250    9780.0000    3010.7810       4.0000
    END-POINT      -28664.6250    9780.0000    3010.9060       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28664.6250    9780.0000    3007.4060       4.0000
    END-POINT      -28664.6250    9780.0000    2993.5935       4.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  10.790000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE-ANGLE
    END-POINT      -28674.6250    9780.0000    3019.7810       6.0000
    END-POINT      -28664.6250    9780.0000    3010.9060       4.0000
    CENTRE-POINT   -28664.6250    9780.0000    3019.7810
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  ARFL
    FABRICATION-ITEM
    ITEM-CODE  145
    WEIGHT  148.000000
    COMPONENT-ATTRIBUTE4 0079
    COMPONENT-ATTRIBUTE2 RELIEF VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28637.7156    9948.0000    2987.2810       8.0000
    END-POINT      -28637.7156    9952.3750    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28637.7156    9952.3750    2987.2810       8.0000
    END-POINT      -28637.7156    9952.5000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9952.5000    2987.2810       8.0000
    END-POINT      -28637.7156    9973.5000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  CKFL
    ERECTION-ITEM
    ITEM-CODE  126
    WEIGHT  620.000000
    COMPONENT-ATTRIBUTE4 0067
    COMPONENT-ATTRIBUTE2 CHECK VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28637.7156    9973.5000    2987.2810       8.0000
    END-POINT      -28637.7156    9973.6250    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9973.6250    2987.2810       8.0000
    END-POINT      -28637.7156    9990.1250    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY  VTFL
    ERECTION-ITEM
    ITEM-CODE  17
    WEIGHT  500.000000
    COMPONENT-ATTRIBUTE4 0070
    COMPONENT-ATTRIBUTE2 GATE VAL FLG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
GASKET
    END-POINT      -28637.7156    9990.1250    2987.2810       8.0000
    END-POINT      -28637.7156    9990.2500    2987.2810       8.0000
    ERECTION-ITEM
    ITEM-CODE  13
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0025
    COMPONENT-ATTRIBUTE2 GASKET
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
FLANGE
    END-POINT      -28637.7156    9994.6250    2987.2810       8.0000
    END-POINT      -28637.7156    9990.2500    2987.2810       8.0000
    SKEY  FLWN
    FABRICATION-ITEM
    ITEM-CODE  12
    WEIGHT  67.000000
    COMPONENT-ATTRIBUTE4 0018
    COMPONENT-ATTRIBUTE2 FLG. RFWN
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
PIPE
    END-POINT      -28637.7156    9994.6250    2987.2810       8.0000
    END-POINT      -28637.7156   10019.0933    2987.2810       8.0000
    FABRICATION-ITEM
    ITEM-CODE  4
    WEIGHT  28.550000
    COMPONENT-ATTRIBUTE4 0001
    COMPONENT-ATTRIBUTE2 PIPE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.6250    9936.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  133
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-6
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9936.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    ERECTION-ITEM
    ITEM-CODE  133
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-6
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9780.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    ERECTION-ITEM
    ITEM-CODE  133
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-6
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9954.1188    3078.5625       8.0000
    SKEY  SHU1
    FABRICATION-ITEM
    ITEM-CODE  161
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28583.3870    9762.7269    3078.5625       8.0000
    SKEY  SHU1
    FABRICATION-ITEM
    ITEM-CODE  161
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28618.2611   10031.0933    3091.3997       8.0000
    SKEY  SPRG
    ERECTION-ITEM
    ITEM-CODE  163
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28619.7156    9687.0063    3091.3997       8.0000
    SKEY  SPRG
    ERECTION-ITEM
    ITEM-CODE  164
    SUPPORT-DIRECTION DOWN
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156   10031.0933    3061.3997       8.0000
    SKEY  GUID
    ERECTION-ITEM
    ITEM-CODE  165
    SUPPORT-DIRECTION EAST
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9687.0063    3061.3997       8.0000
    SKEY  GUID
    ERECTION-ITEM
    ITEM-CODE  166
    SUPPORT-DIRECTION EAST
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 12.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
ISO-SPLIT-POINT
    CO-ORDS        -28637.7156    9742.3750    2987.2810
ISO-SPLIT-POINT
    CO-ORDS        -28637.7156    9973.6250    2987.2810
ISO-SPLIT-POINT
    CO-ORDS        -28583.3870   10031.0933    2994.8997
ISO-SPLIT-POINT
    CO-ORDS        -28583.3870    9687.0063    2994.8997
ISO-SPLIT-POINT
    CO-ORDS        -28583.3870    9706.0063    3010.8997
ISO-SPLIT-POINT
    CO-ORDS        -28583.3870   10012.0933    3010.8997
WELD
    END-POINT      -28625.7156   10031.0933    3091.3997       8.0000
    END-POINT      -28625.7156   10031.0933    3091.3997       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
WELD
    END-POINT      -28625.7156    9687.0063    3091.3997       8.0000
    END-POINT      -28625.7156    9687.0063    3091.3997       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
WELD
    END-POINT      -28583.3870    9879.0895    3078.5625       8.0000
    END-POINT      -28583.3870    9879.0895    3078.5625       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
WELD
    END-POINT      -28583.3870    9718.0063    3078.5625       8.0000
    END-POINT      -28583.3870    9718.0063    3078.5625       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28637.7156   10000.6250    2987.2810
    BRANCH1-POINT  -28637.7156   10000.6250    2992.4060       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28637.7156   10000.6250    2992.4060       1.0000
    END-POINT      -28637.7156   10000.6250    2996.4060       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156   10000.6250    2996.4060       1.0000
    END-POINT      -28637.7156   10000.6250    2999.4060       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    COMPONENT-ATTRIBUTE4 0071
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28637.7156    9725.7500    2987.2810
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
BOLT
    CO-ORDS        -28637.7156    9990.2500    2987.2810
    BOLT-QUANTITY             1
    BOLT-DIA                  0.8750
    BOLT-LENGTH               5.5000
    ERECTION-ITEM
    BOLT-ITEM-CODE  61
    WEIGHT  1.000000
    COMPONENT-ATTRIBUTE4 0024
    COMPONENT-ATTRIBUTE2 STUD W/ NUTS
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28637.7156    9715.3750    2987.2810
    BRANCH1-POINT  -28637.7156    9715.3750    2992.4060       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28637.7156    9715.3750    2992.4060       1.0000
    END-POINT      -28637.7156    9715.3750    2996.4060       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9715.3750    2996.4060       1.0000
    END-POINT      -28637.7156    9715.3750    2999.4060       1.0000
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    COMPONENT-ATTRIBUTE4 0071
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28637.7156    9717.3750    2987.2810
    BRANCH1-POINT  -28637.7156    9717.3750    2982.1560       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28637.7156    9717.3750    2982.1560       1.0000
    END-POINT      -28637.7156    9717.3750    2978.1560       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9717.3750    2978.1560       1.0000
    END-POINT      -28637.7156    9717.3750    2975.1560       1.0000
    SPINDLE-DIRECTION EAST
    DIRECTION HW-E
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    COMPONENT-ATTRIBUTE4 0071
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28637.7156    9717.3750    2975.1560       1.0000
    END-POINT      -28637.7156    9717.3750    2973.1560       1.0000
    CENTRE-POINT   -28637.7156    9717.3750    2974.1560
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28637.7156    9998.6250    2987.2810
    BRANCH1-POINT  -28637.7156    9998.6250    2982.1560       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28637.7156    9998.6250    2982.1560       1.0000
    END-POINT      -28637.7156    9998.6250    2978.1560       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28637.7156    9998.6250    2978.1560       1.0000
    END-POINT      -28637.7156    9998.6250    2975.1560       1.0000
    SPINDLE-DIRECTION EAST
    DIRECTION HW-E
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    COMPONENT-ATTRIBUTE4 0071
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28637.7156    9998.6250    2975.1560       1.0000
    END-POINT      -28637.7156    9998.6250    2973.1560       1.0000
    CENTRE-POINT   -28637.7156    9998.6250    2974.1560
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28583.3870   10001.0933    2982.8997
    BRANCH1-POINT  -28588.5120   10001.0933    2982.8997       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28588.5120   10001.0933    2982.8997       1.0000
    END-POINT      -28592.5120   10001.0933    2982.8997       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28592.5120   10001.0933    2982.8997       1.0000
    END-POINT      -28595.5120   10001.0933    2982.8997       1.0000
    SPINDLE-DIRECTION UP
    DIRECTION HW-U
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    COMPONENT-ATTRIBUTE4 0071
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28595.5120   10001.0933    2982.8997       1.0000
    END-POINT      -28597.5120   10001.0933    2982.8997       1.0000
    CENTRE-POINT   -28596.5120   10001.0933    2982.8997
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
OLET
    CENTRE-POINT   -28583.3870    9717.0063    2982.8997
    BRANCH1-POINT  -28588.5120    9717.0063    2982.8997       1.0000
    SKEY  SKSW
    FABRICATION-ITEM
    ITEM-CODE  8
    WEIGHT  0.600000
    COMPONENT-ATTRIBUTE4 0060
    COMPONENT-ATTRIBUTE2 SOL
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
COUPLING
    END-POINT      -28588.5120    9717.0063    2982.8997       1.0000
    END-POINT      -28592.5120    9717.0063    2982.8997       1.0000
    SKEY  NRSC
    FABRICATION-ITEM
    ITEM-CODE  9
    WEIGHT  3.659000
    COMPONENT-ATTRIBUTE4 0026
    COMPONENT-ATTRIBUTE2 NIPPLE
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
VALVE
    END-POINT      -28592.5120    9717.0063    2982.8997       1.0000
    END-POINT      -28595.5120    9717.0063    2982.8997       1.0000
    SPINDLE-DIRECTION UP
    DIRECTION HW-U
    SKEY  VTSW
    FABRICATION-ITEM
    ITEM-CODE  10
    WEIGHT  8.290000
    COMPONENT-ATTRIBUTE4 0071
    COMPONENT-ATTRIBUTE2 GATE VAL SW
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
MISC-COMPONENT
    END-POINT      -28595.5120    9717.0063    2982.8997       1.0000
    END-POINT      -28597.5120    9717.0063    2982.8997       1.0000
    CENTRE-POINT   -28596.5120    9717.0063    2982.8997
    SKEY  PL
    ERECTION-ITEM
    ITEM-CODE  11
    WEIGHT  0.750000
    COMPONENT-ATTRIBUTE4 0056
    COMPONENT-ATTRIBUTE2 THRD PLUG
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
WELD
    END-POINT      -28637.7156   10031.0933    2999.2810       8.0000
    END-POINT      -28637.7156   10031.0933    2999.2810       8.0000
    SKEY  WS
    ERECTION-ITEM
    WEIGHT  1.000000
    WELD-ATTRIBUTE4 0173
    WELD-ATTRIBUTE2 WELD
    PIPING-SPEC C
    WELD-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9780.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  202
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9780.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  203
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.2611    9780.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    ERECTION-ITEM
    ITEM-CODE  204
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.2611    9780.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  202
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.2611    9780.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  203
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9936.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    ERECTION-ITEM
    ITEM-CODE  207
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9936.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  202
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28637.7156    9936.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  203
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.2611    9936.0000    2987.2810       8.0000
    STATUS DOTTED-DIMENSIONED
    MATERIAL-LIST  EXCLUDE
    SKEY       
    ERECTION-ITEM
    ITEM-CODE  210
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.2611    9936.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  202
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
SUPPORT
    CO-ORDS   -28669.2611    9936.0000    2987.2810       8.0000
    SKEY       
    FABRICATION-ITEM
    ITEM-CODE  203
    COMPONENT-ATTRIBUTE4 H000
    COMPONENT-ATTRIBUTE2 6.00-1
    PIPING-SPEC C
    COMPONENT-ATTRIBUTE1 C
END-CONNECTION-PIPELINE
    CO-ORDS        -28583.3870    9728.0063    3010.8997
    PIPELINE-REFERENCE 14521A-8"-IST
END-CONNECTION-PIPELINE
    CO-ORDS        -28583.3870    9990.0933    3010.8997
    PIPELINE-REFERENCE 14521A-8"-IST
END-CONNECTION-PIPELINE
    CO-ORDS        -28674.6250    9936.0000    3019.7810
    PIPELINE-REFERENCE 27700A-14"-IST
END-CONNECTION-PIPELINE
    CO-ORDS        -28674.6250    9780.0000    3019.7810
    PIPELINE-REFERENCE 27700A-14"-IST
MATERIALS
ITEM-CODE 1
    DESCRIPTION ELL, 90 LR, SCH. 40, ASTM A-234 GR WPB
ITEM-CODE 3
    DESCRIPTION TEE, STR. SCH. 40, ASTM A-234 GR WPB
ITEM-CODE 4
    DESCRIPTION PIPE, SCH. 40, SMLS, ASTM A-106 GR B
ITEM-CODE 5
    DESCRIPTION REDUCER, ECC, SCH. 40, ASTM A-234 GR WPB
ITEM-CODE 8
    DESCRIPTION SOCKOLET, 3000LB, FS, ASTM A-105
ITEM-CODE 9
    DESCRIPTION NIPPLE, SCH. 80, SMLS, ASTM A-106 GR B PBE (4" LG)
ITEM-CODE 10
    DESCRIPTION VALVE, GATE CLASS 800# FS SW/SCR'D WALWORTH FIG W950S/SW OR APPR
    DESCRIPTION OVED EQUAL
ITEM-CODE 11
    DESCRIPTION PLUG, THREADED, SOLID STEEL ROUND HEAD, ANSI B16.11
ITEM-CODE 12
    DESCRIPTION FLG, RFWN, 300LB, SCH. 40, ASTM A-105
ITEM-CODE 13
    DESCRIPTION GASKET, 1/8" THK, 300LB, SPIRAL WOUND TYPE 304 W/ FLEXIBLE GRAPH
    DESCRIPTION ITE FILLER, 1/8" CENTERING RING, FLEXITALLIC STYLE CG
ITEM-CODE 14
    DESCRIPTION (16) STUD BOLTS, ASTM A-193 GR B7 W/ 2 HVY HEX NUTS, ASTM A-194 
    DESCRIPTION GR 2H (7" LG)
ITEM-CODE 17
    DESCRIPTION VALVE, GATE  CLASS 300# CS RF FLGD. CRANE FIG #33XU OR APPROVED 
    DESCRIPTION EQUAL
ITEM-CODE 30
    DESCRIPTION PIPE, SCH. 80, SMLS, ASTM A-106 GR B
ITEM-CODE 31
    DESCRIPTION FLG, RFWN, 300LB, SCH. 80, ASTM A-105
ITEM-CODE 35
    DESCRIPTION FLG, RF BLIND 300LB, ASTM A-105
ITEM-CODE 42
    DESCRIPTION PIPE SHOE, ST-A-522 (TRIM SHOE TO FIT)
ITEM-CODE 61
    DESCRIPTION (12) STUD BOLTS, ASTM A-193 GR B7 W/ 2 HVY HEX NUTS, ASTM A-194 
    DESCRIPTION GR 2H (5 1/2" LG)
ITEM-CODE 62
    DESCRIPTION (8) STUD BOLTS, ASTM A-193 GR B7 W/ 2 HVY HEX NUTS, ASTM A-194 G
    DESCRIPTION R 2H (3 1/2" LG)
ITEM-CODE 72
    DESCRIPTION ADJUSTABLE BASE SUPPORT, ST-B-557, DIM = 1'-10"
ITEM-CODE 73
    DESCRIPTION CONDUIT LOCK NUT,  3'' DIA.  GALVANIZED C.S. (ST-B-557)
ITEM-CODE 74
    DESCRIPTION FLAT STEEL PLATE 6" x 6" x 3/8"THK. GALVANIZED (ST-B-557)
ITEM-CODE 75
    DESCRIPTION CONDUIT COUPLING (STRAIGHT THREAD ONLY),  3'' DIA.  GALVANIZED C
    DESCRIPTION .S. (ST-B-557)
ITEM-CODE 76
    DESCRIPTION PIPE, NPS 3"SCH 40 SMLS A-106 GR B 0'-11 11/16" LG. (ST-B-557)
ITEM-CODE 77
    DESCRIPTION PIPE, NPS 3"SCH 40 SMLS A-106 GR B 5" LG. (ST-B-557)
ITEM-CODE 118
    DESCRIPTION PUMP 86P-439
ITEM-CODE 121
    DESCRIPTION REDUCER, ECC, SCH. 80, ASTM A-234 GR WPB
ITEM-CODE 126
    DESCRIPTION VALVE, CHECK  CLASS 300# CS RF FLANGED CRANE FIG 159X OR APPROVE
    DESCRIPTION D EQUAL
ITEM-CODE 132
    DESCRIPTION WELDOLET, SCH 40, ASTM A-105
ITEM-CODE 133
    DESCRIPTION 6.00-6 GUIDE
ITEM-CODE 134
    DESCRIPTION SPRING SUPPORT HS-27682-05
ITEM-CODE 135
    DESCRIPTION PUMP 86P-440
ITEM-CODE 145
    DESCRIPTION RELIEF VALVE, 300LB X 300LB FLG.
ITEM-CODE 161
    DESCRIPTION PIPE SHOE, ST-A-522
ITEM-CODE 163
    DESCRIPTION SPRING SUPPORT, HS-27682-03
ITEM-CODE 164
    DESCRIPTION SPRING SUPPORT, HS-27682-06
ITEM-CODE 165
    DESCRIPTION SWAY STRUT ASSEMBLY, SS-27682-001
ITEM-CODE 166
    DESCRIPTION SWAY STRUT ASSEMBLY, SS-27682-002
ITEM-CODE 202
    DESCRIPTION 4" SCH 40 PIPE (FOR DUMMY SUPPORT)
ITEM-CODE 203
    DESCRIPTION 1/2" x 6" DIA PLATE (FOR DUMMY SUPPORT)
ITEM-CODE 204
    DESCRIPTION SPRING SUPPORT HS-27682-04
ITEM-CODE 207
    DESCRIPTION SPRING SUPPORT HS-27682-02
ITEM-CODE 210
    DESCRIPTION SPRING SUPPORT HS-27682-01
