ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-04-P
    PIPING-SPEC   1C0031
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   PROCESS
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:43:55 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:43:55
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    6238.875    69342.000    1344.974     6    
    END-POINT    10085.133    69342.000    1344.974     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-3AA6-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    239.49 lbm
    CUT-PIECE-LENGTH    3846.26
SUPPORT
    CO-ORDS    8216.047    69342.000    1344.974     6
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    Assy_FR_IT_LS_5
    WEIGHT    24.756
    UCI    {00022303-0000-0000-713D-901296474404}
    NAME    Assy_FR_IT_LS_5-15-51
SUPPORT
    CO-ORDS    9171.956    69342.000    1344.974     6
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy_FR_US_LS_1
    WEIGHT    7.327
    UCI    {00022303-0000-0000-D1A7-CD6A8E473604}
    NAME    Assy_FR_US_LS_1-15-1
WELD
    END-POINT    6238.875    69342.000    1344.974     6    
    END-POINT    6238.875    69342.000    1344.974     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5BA7-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    6096.000    69113.400    2453.400     6    BW
    END-POINT    6096.000    69342.000    2224.800     6    BW
    CENTRE-POINT    6096.000    69342.000    2453.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-C503-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    6096.000    69342.000    2224.800     6    
    END-POINT    6096.000    69342.000    2224.800     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0B04-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    4245.244    69342.000    236.548     6    BW
    END-POINT    4016.644    69570.600    236.548     6    BW
    CENTRE-POINT    4016.644    69342.000    236.548        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-0C00-3CE0A0472C04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
WELD
    END-POINT    4245.244    69342.000    236.548     6    
    END-POINT    4245.244    69342.000    236.548     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A000-3CE0A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    6096.000    69342.000    1487.849     6    BW
    END-POINT    6096.000    69342.000    1202.099     6    BW
    CENTRE-POINT    6096.000    69342.000    1344.974        
    BRANCH1-POINT    6238.875    69342.000    1344.974     6    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    29. lbm
    UCI    {00013885-0000-0000-16A6-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    13.154
WELD
    END-POINT    6096.000    69342.000    1487.849     6    
    END-POINT    6096.000    69342.000    1487.849     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-56A7-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    6096.000    69342.000    465.148     6    BW
    END-POINT    5867.400    69342.000    236.548     6    BW
    CENTRE-POINT    6096.000    69342.000    236.548        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-4504-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
SUPPORT
    CO-ORDS    6096.000    69342.000    236.548     6
    SUPPORT-DIRECTION    EAST
    SKEY    01HG
    ITEM-CODE    DesignPipeH_2
    WEIGHT    2.622
    UCI    {00022311-0000-0000-389E-CD6A8E473604}
    NAME    Assy_LE_DL_8-15-1*
SUPPORT
    CO-ORDS    6096.000    69342.000    236.548     6
    SUPPORT-DIRECTION    EAST
    SKEY    01HG
    ITEM-CODE    Assy_LE_DL_8
    WEIGHT    5.771
    UCI    {00022303-0000-0000-5E99-CD6A8E473604}
    NAME    Assy_LE_DL_8-15-1
WELD
    END-POINT    6096.000    69342.000    465.148     6    
    END-POINT    6096.000    69342.000    465.148     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5504-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    6096.000    68817.089    2453.400     6    
    END-POINT    6096.000    68905.989    2453.400     6    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24. lbm
    UCI    {00013885-0000-0000-1803-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.886
BOLT
    CO-ORDS    6096.000    68817.089    2453.400        
    UCI    {000138A9-0000-0000-BA03-CD6A8E473604}
    BOLT-DIA     .75
    BOLT-LENGTH     4.25
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.25 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    6096.000    68817.089    2453.400     6    
    END-POINT    6096.000    68813.914    2453.400     6    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-B903-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
WELD
    END-POINT    6096.000    68905.989    2453.400     6    
    END-POINT    6096.000    68905.989    2453.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-BB03-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    6096.000    69342.000    1202.099     6    
    END-POINT    6096.000    69342.000    465.148     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-D803-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    45.89 lbm
    CUT-PIECE-LENGTH    736.95
SUPPORT
    CO-ORDS    6096.000    69342.000    501.975     6
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy-DM1-1
    WEIGHT    0.000
    UCI    {00022303-0000-0000-E72B-CD6A8E473604}
    NAME    Assy-DM1-1-15-3
WELD
    END-POINT    6096.000    69342.000    1202.099     6    
    END-POINT    6096.000    69342.000    1202.099     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-59A7-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    4016.644    69570.600    236.548     6    
    END-POINT    4016.644    71562.408    236.548     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-1400-3CE0A0472C04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    124.02 lbm
    CUT-PIECE-LENGTH    1991.81
WELD
    END-POINT    4016.644    69570.600    236.548     6    
    END-POINT    4016.644    69570.600    236.548     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A300-3CE0A0472C04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    5867.400    69342.000    236.548     6    
    END-POINT    4245.244    69342.000    236.548     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-4D04-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    101.01 lbm
    CUT-PIECE-LENGTH    1622.16
SUPPORT
    CO-ORDS    4295.632    69342.000    236.548     6
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_GD_AN_1
    WEIGHT    1.966
    UCI    {00022303-0000-0000-8A88-CD6A8E473604}
    NAME    Assy_GD_AN_1-15-1
SUPPORT
    CO-ORDS    4295.632    69342.000    236.548     6
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy_FR_BC_HSS_1
    WEIGHT    19.161
    UCI    {00022303-0000-0000-B551-CD6A8E473604}
    NAME    Assy_FR_BC_HSS_1-15-1
WELD
    END-POINT    5867.400    69342.000    236.548     6    
    END-POINT    5867.400    69342.000    236.548     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5804-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    6096.000    69342.000    2224.800     6    
    END-POINT    6096.000    69342.000    1487.849     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-34A6-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    45.89 lbm
    CUT-PIECE-LENGTH    736.95
SUPPORT
    CO-ORDS    6096.000    69342.000    1799.445     6
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy-DM1-4
    WEIGHT    0.000
    UCI    {00022303-0000-0000-B408-CD6A8E473604}
    NAME    Assy-DM1-4-15-31
PIPE
    END-POINT    6096.000    68905.989    2453.400     6    
    END-POINT    6096.000    69113.400    2453.400     6    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    8.609
    UCI    {0001388C-0000-0000-1103-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.91 lbm
    CUT-PIECE-LENGTH    207.41
WELD
    END-POINT    6096.000    69113.400    2453.400     6    
    END-POINT    6096.000    69113.400    2453.400     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2504-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-04-P
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-POSITION-OPEN
    CO-ORDS    10085.133    69342.000    1344.974
END-CONNECTION-EQUIPMENT
    CO-ORDS    6096.000    68813.914    2453.400
    CONNECTION-REFERENCE  VerticalDrum01-E-15-0001/H2$6 in RFFE 150
END-POSITION-OPEN
    CO-ORDS    4016.644    71562.408    236.548
MATERIALS
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    Assy_FR_IT_LS_5
    DESCRIPTION    Inverted T Shaped Frame L4X4X1/4 w/ Baseplate
ITEM-CODE    Assy_FR_US_LS_1
    DESCRIPTION    U Shaped Frame L2X2X1/8 w/ Baseplate
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    MDJZZBOZZAAEADCZZUS
    DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    DesignPipeH_2
    DESCRIPTION    Design Pipe Assembly
ITEM-CODE    Assy_LE_DL_8
    DESCRIPTION    Vertical Dummy Leg HgrAisc_PIPE4sch40
ITEM-CODE    FAAAHDCZZAADABQZZUS
    DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    GMAHACABXBEPUS
    DESCRIPTION    Gasket, CL150, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    Assy-DM1-1
    DESCRIPTION    Assembly DM1 Size A Sway Strut Assembly (Option 3) for Pipe Sizes 3/4in to 10in
ITEM-CODE    Assy_GD_AN_1
    DESCRIPTION    Longitudinal Restraint - WT2X6.5
ITEM-CODE    Assy_FR_BC_HSS_1
    DESCRIPTION    Braced Cantilever HSS2X2X.250 w/ Baseplate
ITEM-CODE    Assy-DM1-4
    DESCRIPTION    Assembly DM1 Size 1 Sway Strut Assembly (Option 3) for Pipe Sizes 2in to 36in
