ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   400308-SE
    PIPING-SPEC   1C0031
    INSULATION-SPEC   CALCIUM SILICATE
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   EXTRA PRESSURE CL1500 STEAM
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:12:46 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:12:46
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    403123.400    136655.175    7931.150     4    
    END-POINT    403123.400    136655.175    7607.300     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    5.333
    UCI    {0001388C-0000-0000-4117-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.49 lbm
    CUT-PIECE-LENGTH    323.85
WELD
    END-POINT    403123.400    136655.175    7931.150     4    
    END-POINT    403123.400    136655.175    7931.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4917-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    403231.163    136547.412    8083.550     4    BW
    END-POINT    403123.400    136655.175    7931.150     4    BW
    CENTRE-POINT    403123.400    136655.175    8083.550        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    9.55 lbm
    UCI    {00013885-0000-0000-3917-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.332
WELD
    END-POINT    403231.163    136547.412    8083.550     4    
    END-POINT    403231.163    136547.412    8083.550     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4D17-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    403682.200    136032.875    8083.550     4    BW
    END-POINT    403637.299    136141.276    8083.550     4    BW
    CENTRE-POINT    403682.200    136096.375    8083.550        
    SKEY    EL**
    ITEM-CODE    MBXZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.67 lbm
    UCI    {00013885-0000-0000-2917-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    2.119
PIPE
    END-POINT    403637.299    136141.276    8083.550     4    
    END-POINT    403231.163    136547.412    8083.550     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    5.333
    UCI    {0001388C-0000-0000-3117-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    22.16 lbm
    CUT-PIECE-LENGTH    574.36
WELD
    END-POINT    403637.299    136141.276    8083.550     4    
    END-POINT    403637.299    136141.276    8083.550     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4617-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    403682.200    127269.875    8083.550     4    
    END-POINT    403682.200    136032.875    8083.550     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    5.333
    UCI    {0001388C-0000-0000-1F17-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    338.05 lbm
    CUT-PIECE-LENGTH    8763.00
WELD
    END-POINT    403682.200    136032.875    8083.550     4    
    END-POINT    403682.200    136032.875    8083.550     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4B17-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-CONCENTRIC
    END-POINT    403123.400    136655.175    7467.600     6    BW
    END-POINT    403123.400    136655.175    7607.300     4    BW
    SKEY    RC**
    ITEM-CODE    MBCZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Concentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.35 lbm
    UCI    {00013885-0000-0000-5717-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    3.788
WELD
    END-POINT    403123.400    136655.175    7607.300     4    
    END-POINT    403123.400    136655.175    7607.300     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6117-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    403123.400    136655.175    7369.175     6    
    END-POINT    403123.400    136655.175    7467.600     6    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .28 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    42.28 lbm
    UCI    {00013885-0000-0000-9B37-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    19.180
WELD
    END-POINT    403123.400    136655.175    7467.600     6    
    END-POINT    403123.400    136655.175    7467.600     6    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8017-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     6
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    403434.550    128108.075    4708.512     4    
    END-POINT    403434.550    128108.075    4622.787     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-1F37-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
GASKET
    END-POINT    403434.550    128108.075    4711.687     4    
    END-POINT    403434.550    128108.075    4708.512     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-6037-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    403434.550    128108.075    4708.512        
    UCI    {000138A9-0000-0000-6137-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
PIPE
    END-POINT    403434.550    128108.075    6027.738     4    
    END-POINT    403434.550    128108.075    5689.587     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-DF36-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.62 lbm
    CUT-PIECE-LENGTH    338.15
PIPE
    END-POINT    403434.550    128108.075    5206.987     4    
    END-POINT    403434.550    128108.075    5156.188     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-0D37-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    1.9 lbm
    CUT-PIECE-LENGTH    50.80
WELD
    END-POINT    403434.550    128108.075    5206.987     4    
    END-POINT    403434.550    128108.075    5206.987     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-FA36-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    403434.550    128108.075    5070.462     4    
    END-POINT    403434.550    128108.075    5156.188     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-1437-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
WELD
    END-POINT    403434.550    128108.075    5156.188     4    
    END-POINT    403434.550    128108.075    5156.188     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6237-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    403434.550    128108.075    5067.288     4    FL
    END-POINT    403434.550    128108.075    4711.687     4    FL
    CENTRE-POINT    403434.550    128108.075    4889.487        
    SKEY    CK**
    ITEM-CODE    VBGAMABAHAFOADAZZZZUS
    ITEM-DESCRIPTION    Check valve, CL300, RFFE, BC, swing, ASTM-A216-WCB, trim 8, Pacific 380
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    185.46 lbm
    UCI    {00013885-0000-0000-0537-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    84.121
BOLT
    CO-ORDS    403434.550    128108.075    5067.288        
    UCI    {000138A9-0000-0000-5F37-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    403434.550    128108.075    5067.288     4    
    END-POINT    403434.550    128108.075    5070.462     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-5E37-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
FLANGE
    END-POINT    403434.550    128108.075    5603.862     4    
    END-POINT    403434.550    128108.075    5689.587     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-E536-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
WELD
    END-POINT    403434.550    128108.075    5689.587     4    
    END-POINT    403434.550    128108.075    5689.587     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0137-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    403434.550    128108.075    5292.712     4    
    END-POINT    403434.550    128108.075    5206.987     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-F036-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
BOLT
    CO-ORDS    403434.550    128108.075    5292.712        
    UCI    {000138A9-0000-0000-0037-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    403434.550    128108.075    5295.887     4    
    END-POINT    403434.550    128108.075    5292.712     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-FF36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
PIPE
    END-POINT    403434.550    128108.075    4622.787     4    
    END-POINT    403434.550    128108.075    4560.887     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-9916-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    2.31 lbm
    CUT-PIECE-LENGTH    61.90
WELD
    END-POINT    403434.550    128108.075    4622.787     4    
    END-POINT    403434.550    128108.075    4622.787     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5937-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    403434.550    127269.875    6180.138     4    
    END-POINT    403434.550    127955.675    6180.138     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-8716-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.59 lbm
    CUT-PIECE-LENGTH    685.80
WELD
    END-POINT    403434.550    127955.675    6180.138     4    
    END-POINT    403434.550    127955.675    6180.138     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A116-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    403434.550    127955.675    6180.138     4    BW
    END-POINT    403434.550    128108.075    6027.738     4    BW
    CENTRE-POINT    403434.550    128108.075    6180.138        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    9.29 lbm
    UCI    {00013885-0000-0000-9116-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.214
WELD
    END-POINT    403434.550    128108.075    6027.738     4    
    END-POINT    403434.550    128108.075    6027.738     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9E16-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    403434.550    128108.075    5600.687     4    FL
    END-POINT    403434.550    128108.075    5295.887     4    FL
    CENTRE-POINT    403434.550    128108.075    5448.287        
    SKEY    VV**
    ITEM-CODE    VAAAMABAHADEADAZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    165.39 lbm
    UCI    {00013885-0000-0000-D536-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    75.020
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
GASKET
    END-POINT    403434.550    128108.075    5600.687     4    
    END-POINT    403434.550    128108.075    5603.862     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-FD36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    403434.550    128108.075    5600.687        
    UCI    {000138A9-0000-0000-FE36-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
PIPE-FIXED
    END-POINT    398773.650    128108.075    4489.450    0.75    
    END-POINT    398697.450    128108.075    4489.450    0.75    
    SKEY    FPPL
    ITEM-CODE    PBAZZBPZZABAABSAAACUS
    ITEM-DESCRIPTION    Nipple, PE, S-160, 3" long, ASTM-A106-B
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    .219 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    .53 lbm
    UCI    {00013885-0000-0000-A837-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    0.240
    MESSAGE
    TEXT    PIPING IMPORT NOTE :This end of the (Branch) PipeRun	SE400308-3/4"-2C0032-HFconnects to a TAP on a Component / Instrument on the (Header) PipeRun	SE400308-4"-2C0032-HFPlace the Tap on the Header Run Component / Instrument and then connect it to this Tapped Branch PipeRun end
WELD
    END-POINT    398773.650    128108.075    4489.450    0.75    
    END-POINT    398773.650    128108.075    4489.450    0.75    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-B337-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
VALVE
    END-POINT    398849.850    128108.075    4489.450    0.75    SW
    END-POINT    398907.000    128108.075    4489.450    0.75    SW
    CENTRE-POINT    398878.425    128108.075    4489.450        
    SKEY    VV**
    ITEM-CODE    VADAQBVAHAHPABQZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL800, SWE, BB, OS&Y, ASTM-A105, trim 8, Smith 800
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.55 lbm
    UCI    {00013885-0000-0000-B837-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    2.062
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
WELD
    END-POINT    398907.000    128108.075    4489.450    0.75    
    END-POINT    398907.000    128108.075    4489.450    0.75    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CF37-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    398907.000    128108.075    4489.450    0.75    PL
    END-POINT    398957.800    128108.075    4489.450    0.75    PL
    ERECTION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    0.730
    UCI    {0001388C-0000-0000-8817-6BA966471E04}
    ITEM-CODE    PAAZZBPZZABAABSAAZZUS
    ITEM-DESCRIPTION    Pipe, S-XS, PE, ASTM-A106-B
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    .154 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    .27 lbm
    CUT-PIECE-LENGTH    50.80
PIPE
    END-POINT    398773.650    128108.075    4489.450    0.75    PL
    END-POINT    398849.850    128108.075    4489.450    0.75    PL
    ERECTION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    0.730
    UCI    {0001388C-0000-0000-C237-6BA966471E04}
    ITEM-CODE    PAAZZBPZZABAABSAAZZUS
    ITEM-DESCRIPTION    Pipe, S-XS, PE, ASTM-A106-B
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    .154 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    .4 lbm
    CUT-PIECE-LENGTH    76.20
WELD
    END-POINT    398849.850    128108.075    4489.450    0.75    
    END-POINT    398849.850    128108.075    4489.450    0.75    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CC37-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
FLANGE
    END-POINT    403434.550    128108.075    4379.912     3    
    END-POINT    403434.550    128108.075    4459.287     3    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    15.09 lbm
    UCI    {00013885-0000-0000-6537-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    6.842
WELD
    END-POINT    403434.550    128108.075    4459.287     3    
    END-POINT    403434.550    128108.075    4459.287     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5C37-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-CONCENTRIC
    END-POINT    403434.550    128108.075    4560.887     4    BW
    END-POINT    403434.550    128108.075    4459.287     3    BW
    SKEY    RC**
    ITEM-CODE    MBCZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Concentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    3.62 lbm
    UCI    {00013885-0000-0000-AB16-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    1.642
WELD
    END-POINT    403434.550    128108.075    4560.887     4    
    END-POINT    403434.550    128108.075    4560.887     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-B516-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE-FIXED
    END-POINT    403498.050    128108.075    4489.450    0.75    
    END-POINT    403421.850    128108.075    4489.450    0.75    
    SKEY    FPPL
    ITEM-CODE    PBAZZBPZZABAABSAAACUS
    ITEM-DESCRIPTION    Nipple, PE, S-160, 3" long, ASTM-A106-B
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    .219 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    .53 lbm
    UCI    {00013885-0000-0000-7237-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    0.240
    MESSAGE
    TEXT    PIPING IMPORT NOTE :This end of the (Branch) PipeRun	SE400308-3/4"-2C0032-HFconnects to a TAP on a Component / Instrument on the (Header) PipeRun	SE400308-4"-2C0032-HFPlace the Tap on the Header Run Component / Instrument and then connect it to this Tapped Branch PipeRun end
WELD
    END-POINT    403498.050    128108.075    4489.450    0.75    
    END-POINT    403498.050    128108.075    4489.450    0.75    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7D37-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Field weld at assembly site
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    403631.400    128108.075    4489.450    0.75    PL
    END-POINT    403682.200    128108.075    4489.450    0.75    PL
    ERECTION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    0.730
    UCI    {0001388C-0000-0000-CC16-6BA966471E04}
    ITEM-CODE    PAAZZBPZZABAABSAAZZUS
    ITEM-DESCRIPTION    Pipe, S-XS, PE, ASTM-A106-B
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    .154 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    .27 lbm
    CUT-PIECE-LENGTH    50.80
VALVE
    END-POINT    403574.250    128108.075    4489.450    0.75    SW
    END-POINT    403631.400    128108.075    4489.450    0.75    SW
    CENTRE-POINT    403602.825    128108.075    4489.450        
    SKEY    VV**
    ITEM-CODE    VADAQBVAHAHPABQZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL800, SWE, BB, OS&Y, ASTM-A105, trim 8, Smith 800
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.55 lbm
    UCI    {00013885-0000-0000-8237-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    2.062
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
WELD
    END-POINT    403631.400    128108.075    4489.450    0.75    
    END-POINT    403631.400    128108.075    4489.450    0.75    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9837-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
PIPE
    END-POINT    403498.050    128108.075    4489.450    0.75    PL
    END-POINT    403574.250    128108.075    4489.450    0.75    PL
    ERECTION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    0.730
    UCI    {0001388C-0000-0000-8C37-6BA966471E04}
    ITEM-CODE    PAAZZBPZZABAABSAAZZUS
    ITEM-DESCRIPTION    Pipe, S-XS, PE, ASTM-A106-B
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A106-B
    COMPONENT-ATTRIBUTE4    .154 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    .4 lbm
    CUT-PIECE-LENGTH    76.20
WELD
    END-POINT    403574.250    128108.075    4489.450    0.75    
    END-POINT    403574.250    128108.075    4489.450    0.75    
    SKEY    WS
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9537-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2    0.75
    WELD-ATTRIBUTE3    Field weld at job site, including offshore
    WELD-ATTRIBUTE4    By Pipe Erector
FLANGE
    END-POINT    398710.150    128108.075    4279.900     3    
    END-POINT    398710.150    128108.075    4359.275     3    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    15.09 lbm
    UCI    {00013885-0000-0000-5436-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    6.842
WELD
    END-POINT    398710.150    128108.075    4359.275     3    
    END-POINT    398710.150    128108.075    4359.275     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7236-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    398710.150    128108.075    4359.275     3    
    END-POINT    398710.150    128108.075    4518.025     3    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    3.642
    UCI    {0001388C-0000-0000-E515-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.18 lbm
    CUT-PIECE-LENGTH    158.75
WELD
    END-POINT    398710.150    128108.075    4518.025     3    
    END-POINT    398710.150    128108.075    4518.025     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-FB15-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    398710.150    128108.075    5295.887     4    FL
    END-POINT    398710.150    128108.075    5600.687     4    FL
    CENTRE-POINT    398710.150    128108.075    5448.287        
    SKEY    VV**
    ITEM-CODE    VAAAMABAHADEADAZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    165.39 lbm
    UCI    {00013885-0000-0000-A336-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    75.020
    SPINDLE-DIRECTION    WEST
    DIRECTION    WEST
BOLT
    CO-ORDS    398710.150    128108.075    5600.687        
    UCI    {000138A9-0000-0000-D036-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    398710.150    128108.075    5600.687     4    
    END-POINT    398710.150    128108.075    5603.862     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-CF36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
ELBOW
    END-POINT    398710.150    128108.075    6027.738     4    BW
    END-POINT    398710.150    127955.675    6180.138     4    BW
    CENTRE-POINT    398710.150    128108.075    6180.138        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    9.29 lbm
    UCI    {00013885-0000-0000-0C16-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.214
FLANGE
    END-POINT    398710.150    128108.075    4705.350     4    
    END-POINT    398710.150    128108.075    4619.625     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-8536-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
GASKET
    END-POINT    398710.150    128108.075    4708.525     4    
    END-POINT    398710.150    128108.075    4705.350     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-9D36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    398710.150    128108.075    4705.350        
    UCI    {000138A9-0000-0000-9E36-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
FLANGE
    END-POINT    398710.150    128108.075    5603.862     4    
    END-POINT    398710.150    128108.075    5689.587     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-BF36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
WELD
    END-POINT    398710.150    128108.075    5689.587     4    
    END-POINT    398710.150    128108.075    5689.587     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CA36-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    398710.150    128108.075    5067.300     4    
    END-POINT    398710.150    128108.075    5153.025     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-9036-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
WELD
    END-POINT    398710.150    128108.075    5153.025     4    
    END-POINT    398710.150    128108.075    5153.025     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9A36-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    398710.150    128108.075    5292.712     4    
    END-POINT    398710.150    128108.075    5206.987     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.11 lbm
    UCI    {00013885-0000-0000-B436-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.390
BOLT
    CO-ORDS    398710.150    128108.075    5292.712        
    UCI    {000138A9-0000-0000-CE36-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    398710.150    128108.075    5295.887     4    
    END-POINT    398710.150    128108.075    5292.712     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-CD36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
REDUCER-CONCENTRIC
    END-POINT    398710.150    128108.075    4619.625     4    BW
    END-POINT    398710.150    128108.075    4518.025     3    BW
    SKEY    RC**
    ITEM-CODE    MBCZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Concentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    3.62 lbm
    UCI    {00013885-0000-0000-F115-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    1.642
WELD
    END-POINT    398710.150    128108.075    4619.625     4    
    END-POINT    398710.150    128108.075    4619.625     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1E16-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    398710.150    128108.075    5153.025     4    
    END-POINT    398710.150    128108.075    5206.987     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-AD36-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    2.01 lbm
    CUT-PIECE-LENGTH    53.96
WELD
    END-POINT    398710.150    128108.075    5206.987     4    
    END-POINT    398710.150    128108.075    5206.987     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D136-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    398710.150    128108.075    5689.587     4    
    END-POINT    398710.150    128108.075    6027.738     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-0216-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.62 lbm
    CUT-PIECE-LENGTH    338.15
WELD
    END-POINT    398710.150    128108.075    6027.738     4    
    END-POINT    398710.150    128108.075    6027.738     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1C16-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    398710.150    127955.675    6180.138     4    
    END-POINT    398710.150    127269.875    6180.138     4    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    5.158
    UCI    {0001388C-0000-0000-1416-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25.59 lbm
    CUT-PIECE-LENGTH    685.80
WELD
    END-POINT    398710.150    127955.675    6180.138     4    
    END-POINT    398710.150    127955.675    6180.138     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1916-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    398710.150    128108.075    4708.525     4    FL
    END-POINT    398710.150    128108.075    5064.125     4    FL
    CENTRE-POINT    398710.150    128108.075    4886.325        
    SKEY    CK**
    ITEM-CODE    VBGAMABAHAFOADAZZZZUS
    ITEM-DESCRIPTION    Check valve, CL300, RFFE, BC, swing, ASTM-A216-WCB, trim 8, Pacific 380
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    185.46 lbm
    UCI    {00013885-0000-0000-7736-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    ERECTION-ITEM
    WEIGHT    84.121
GASKET
    END-POINT    398710.150    128108.075    5064.125     4    
    END-POINT    398710.150    128108.075    5067.300     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-9F36-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    398710.150    128108.075    5064.125        
    UCI    {000138A9-0000-0000-A036-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
ELBOW
    CONTINUATION
    END-POINT    403682.200    127117.475    8235.950     4    BW
    END-POINT    403682.200    127269.875    8083.550     4    BW
    CENTRE-POINT    403682.200    127117.475    8083.550        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    9.55 lbm
    UCI    {00013885-0000-0000-FF16-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.332
WELD
    END-POINT    403682.200    127269.875    8083.550     4    
    END-POINT    403682.200    127269.875    8083.550     4    
    SKEY    WWD
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4F17-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    390308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
ELBOW
    CONTINUATION
    END-POINT    403434.550    127117.475    6332.538     4    BW
    END-POINT    403434.550    127269.875    6180.138     4    BW
    CENTRE-POINT    403434.550    127117.475    6180.138        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    9.29 lbm
    UCI    {00013885-0000-0000-6216-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.214
WELD
    END-POINT    403434.550    127269.875    6180.138     4    
    END-POINT    403434.550    127269.875    6180.138     4    
    SKEY    WWD
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A316-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    390308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
ELBOW
    CONTINUATION
    END-POINT    398710.150    127269.875    6180.138     4    BW
    END-POINT    398710.150    127117.475    6332.538     4    BW
    CENTRE-POINT    398710.150    127117.475    6180.138        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001084 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    9.29 lbm
    UCI    {00013885-0000-0000-3316-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    FIBERGLASS
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.214
WELD
    END-POINT    398710.150    127269.875    6180.138     4    
    END-POINT    398710.150    127269.875    6180.138     4    
    SKEY    WWD
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-7C16-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    390308-SE
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
END-CONNECTION-PIPELINE
    CO-ORDS    403682.200    127117.475    8235.950
    CONNECTION-REFERENCE  390308-SE
END-POSITION-OPEN
    CO-ORDS    403123.400    136655.175    7369.175
END-CONNECTION-PIPELINE
    CO-ORDS    403434.550    127117.475    6332.538
    CONNECTION-REFERENCE  390308-SE
END-POSITION-OPEN
    CO-ORDS    398697.450    128108.075    4489.450
END-POSITION-OPEN
    CO-ORDS    398957.800    128108.075    4489.450
END-POSITION-OPEN
    CO-ORDS    403434.550    128108.075    4379.912
END-POSITION-OPEN
    CO-ORDS    403421.850    128108.075    4489.450
END-POSITION-OPEN
    CO-ORDS    403682.200    128108.075    4489.450
END-POSITION-OPEN
    CO-ORDS    398710.150    128108.075    4279.900
END-CONNECTION-PIPELINE
    CO-ORDS    398710.150    127117.475    6332.538
    CONNECTION-REFERENCE  390308-SE
MATERIALS
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    MBXZZBOZZAAEADCZZUS
    DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    MBCZZBOZZAAEADCZZUS
    DESCRIPTION    Concentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    FAAAMDCZZAADABQZZUS
    DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    GMAMACABXBEPUS
    DESCRIPTION    Gasket, CL300, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    VBGAMABAHAFOADAZZZZUS
    DESCRIPTION    Check valve, CL300, RFFE, BC, swing, ASTM-A216-WCB, trim 8, Pacific 380
ITEM-CODE    VAAAMABAHADEADAZZZZUS
    DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
ITEM-CODE    PBAZZBPZZABAABSAAACUS
    DESCRIPTION    Nipple, PE, S-160, 3" long, ASTM-A106-B
ITEM-CODE    VADAQBVAHAHPABQZZZZUS
    DESCRIPTION    Gate valve, CL800, SWE, BB, OS&Y, ASTM-A105, trim 8, Smith 800
ITEM-CODE    PAAZZBPZZABAABSAAZZUS
    DESCRIPTION    Pipe, S-XS, PE, ASTM-A106-B
