ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   400313-WC
    PIPING-SPEC   1C0031
    INSULATION-SPEC   CALCIUM SILICATE
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   COOLING WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:12:38 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:12:38
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    408641.550    132984.875    9621.838     8    BW
    END-POINT    408946.350    132984.875    9317.038     8    BW
    CENTRE-POINT    408641.550    132984.875    9317.038        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.19 lbm
    UCI    {00013885-0000-0000-FD1C-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    22.311
WELD
    END-POINT    408946.350    132984.875    9317.038     8    
    END-POINT    408946.350    132984.875    9317.038     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-491D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    408641.550    132984.875    9621.838     8    
    END-POINT    408641.550    132984.875    9621.838     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-551D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    408946.350    132984.875    9317.038     8    
    END-POINT    410438.600    132984.875    9317.038     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    13.794
    UCI    {0001388C-0000-0000-041D-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    148.89 lbm
    CUT-PIECE-LENGTH    1492.25
WELD
    END-POINT    410438.600    132984.875    9317.038     8    
    END-POINT    410438.600    132984.875    9317.038     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-571D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    410743.400    133200.401    9101.511     8    
    END-POINT    410743.400    133663.422    8638.490     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    13.794
    UCI    {0001388C-0000-0000-131D-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    65.33 lbm
    CUT-PIECE-LENGTH    654.81
WELD
    END-POINT    410743.400    133663.422    8638.490     8    
    END-POINT    410743.400    133663.422    8638.490     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-591D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    408336.750    132984.875    11709.400     8    BW
    END-POINT    408641.550    132984.875    11404.600     8    BW
    CENTRE-POINT    408641.550    132984.875    11709.400        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.19 lbm
    UCI    {00013885-0000-0000-ED1C-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    22.311
WELD
    END-POINT    408641.550    132984.875    11404.600     8    
    END-POINT    408641.550    132984.875    11404.600     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-461D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    411962.600    135651.875    9451.975     8    
    END-POINT    411962.600    135651.875    9350.375     8    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    39.36 lbm
    UCI    {00013885-0000-0000-CE3A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    17.855
ELBOW
    END-POINT    410743.400    133663.422    8638.490     8    BW
    END-POINT    410743.400    133880.225    8548.687     8    BW
    CENTRE-POINT    410743.400    133753.225    8548.688        
    SKEY    EL**
    ITEM-CODE    MBXZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    ANGLE    4500
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    23.91 lbm
    UCI    {00013885-0000-0000-1B1D-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    10.846
WELD
    END-POINT    410743.400    133880.225    8548.687     8    
    END-POINT    410743.400    133880.225    8548.688     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4D1D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    408235.150    132984.875    11709.400     8    
    END-POINT    408336.750    132984.875    11709.400     8    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    39.36 lbm
    UCI    {00013885-0000-0000-B63A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    17.855
WELD
    END-POINT    408336.750    132984.875    11709.400     8    
    END-POINT    408336.750    132984.875    11709.400     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-531D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    410743.400    135347.075    8548.688     8    BW
    END-POINT    411048.200    135651.875    8548.688     8    BW
    CENTRE-POINT    410743.400    135651.875    8548.688        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.19 lbm
    UCI    {00013885-0000-0000-2B1D-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    22.311
WELD
    END-POINT    411048.200    135651.875    8548.688     8    
    END-POINT    411048.200    135651.875    8548.688     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4F1D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    410438.600    132984.875    9317.038     8    BW
    END-POINT    410743.400    133200.401    9101.511     8    BW
    CENTRE-POINT    410743.400    132984.875    9317.038        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.19 lbm
    UCI    {00013885-0000-0000-0C1D-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    22.311
WELD
    END-POINT    410743.400    133200.401    9101.511     8    
    END-POINT    410743.400    133200.401    9101.511     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-4B1D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    411657.800    135651.875    8548.688     8    BW
    END-POINT    411962.600    135651.875    8853.488     8    BW
    CENTRE-POINT    411962.600    135651.875    8548.688        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.19 lbm
    UCI    {00013885-0000-0000-3A1D-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    22.311
WELD
    END-POINT    411962.600    135651.875    8853.488     8    
    END-POINT    411962.600    135651.875    8853.488     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-511D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    410743.400    133880.225    8548.688     8    
    END-POINT    410743.400    135347.075    8548.688     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    13.794
    UCI    {0001388C-0000-0000-231D-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    146.35 lbm
    CUT-PIECE-LENGTH    1466.85
WELD
    END-POINT    410743.400    135347.075    8548.688     8    
    END-POINT    410743.400    135347.075    8548.688     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5B1D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    411048.200    135651.875    8548.688     8    
    END-POINT    411657.800    135651.875    8548.688     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    13.794
    UCI    {0001388C-0000-0000-321D-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    60.82 lbm
    CUT-PIECE-LENGTH    609.60
WELD
    END-POINT    411657.800    135651.875    8548.688     8    
    END-POINT    411657.800    135651.875    8548.688     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5D1D-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    411962.600    135651.875    8853.488     8    
    END-POINT    411962.600    135651.875    9350.375     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    13.794
    UCI    {0001388C-0000-0000-411D-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.58 lbm
    CUT-PIECE-LENGTH    496.89
WELD
    END-POINT    411962.600    135651.875    9350.375     8    
    END-POINT    411962.600    135651.875    9350.375     8    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-DA3A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400313-WC
    WELD-ATTRIBUTE2     8
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    408641.550    132984.875    11404.600     8    
    END-POINT    408641.550    132984.875    9621.838     8    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    13.794
    UCI    {0001388C-0000-0000-F51C-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .322 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    177.87 lbm
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    CUT-PIECE-LENGTH    1782.76
END-POSITION-OPEN
    CO-ORDS    411962.600    135651.875    9451.975
END-POSITION-OPEN
    CO-ORDS    408235.150    132984.875    11709.400
MATERIALS
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    FAAAHDCZZAADABQZZUS
    DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    MBXZZBOZZAAEADCZZUS
    DESCRIPTION    45 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
