ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   380408-A
    PIPING-SPEC   2C0032
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   AIR
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:12:58 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:12:58
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
VALVE
    END-POINT    397663.988    117744.875    4876.800     4    FL
    END-POINT    397663.988    117744.875    4572.000     4    FL
    CENTRE-POINT    397663.988    117744.875    4724.400        
    SKEY    VV**
    ITEM-CODE    VAAAMABAHADEADAZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    165. lbm
    UCI    {00013885-0000-0000-D22C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    74.843
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
BOLT
    CO-ORDS    397663.988    117744.875    4876.800        
    UCI    {000138A9-0000-0000-FB2C-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    397663.988    117744.875    4876.800     4    
    END-POINT    397663.988    117744.875    4879.975     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-FA2C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
FLANGE
    END-POINT    397663.988    117744.875    4879.975     4    
    END-POINT    397663.988    117744.875    4965.700     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-E22C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
WELD
    END-POINT    397663.988    117744.875    4965.700     4    
    END-POINT    397663.988    117744.875    4965.700     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-FE2C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    396830.550    116268.500    9201.150     4    BW
    END-POINT    396905.469    116401.214    9353.550     4    BW
    CENTRE-POINT    396830.550    116268.500    9353.550        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-240C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    396905.469    116401.214    9353.550     4    
    END-POINT    396905.469    116401.214    9353.550     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-400C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    397663.988    117744.875    4568.825     4    
    END-POINT    397663.988    117744.875    4483.100     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-ED2C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
GASKET
    END-POINT    397663.988    117744.875    4572.000     4    
    END-POINT    397663.988    117744.875    4568.825     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-FC2C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    397663.988    117744.875    4568.825        
    UCI    {000138A9-0000-0000-FD2C-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
PIPE
    END-POINT    397663.988    117744.875    9201.150     4    
    END-POINT    397663.988    117744.875    4965.700     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-DC2C-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    149.98 lbm
    CUT-PIECE-LENGTH    4235.45
ELBOW
    END-POINT    397589.069    117612.161    9353.550     4    BW
    END-POINT    397663.988    117744.875    9201.150     4    BW
    CENTRE-POINT    397663.988    117744.875    9353.550        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-340C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    397663.988    117744.875    9201.150     4    
    END-POINT    397663.988    117744.875    9201.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-430C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    396830.550    116268.500    8851.900     4    
    END-POINT    396830.550    116268.500    9201.150     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-1B0C-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    12.37 lbm
    CUT-PIECE-LENGTH    349.25
WELD
    END-POINT    396830.550    116268.500    8851.900     4    
    END-POINT    396830.550    116268.500    8851.900     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C223-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    396830.550    116268.500    9201.150     4    
    END-POINT    396830.550    116268.500    9201.150     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-450C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    397663.988    117744.875    4483.100     4    
    END-POINT    397663.988    117744.875    3914.775     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-3B0C-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    20.12 lbm
    CUT-PIECE-LENGTH    568.33
WELD
    END-POINT    397663.988    117744.875    4483.100     4    
    END-POINT    397663.988    117744.875    4483.100     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-F72C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    397663.988    117744.875    3914.775     4    
    END-POINT    397663.988    117744.875    3914.775     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E423-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    396905.469    116401.214    9353.550     4    
    END-POINT    397589.069    117612.161    9353.550     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-2C0C-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    49.24 lbm
    CUT-PIECE-LENGTH    1390.58
WELD
    END-POINT    397589.069    117612.161    9353.550     4    
    END-POINT    397589.069    117612.161    9353.550     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-470C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE-BLIND
    END-POINT    397454.438    117551.200    3810.000     4    
    END-POINT    397454.438    117519.450    3810.000     4    
    SKEY    FLBL
    ITEM-CODE    MAAAMABZZAADABQZZUS
    ITEM-DESCRIPTION    Blind flange, CL300, RFFE, ASTM-A105, ASME-B16.5
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    27. lbm
    UCI    {00013885-0000-0000-2C3C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    12.247
FLANGE
    END-POINT    397454.438    117554.375    3810.000     4    
    END-POINT    397454.438    117640.100    3810.000     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-353C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
BOLT
    CO-ORDS    397454.438    117554.375    3810.000        
    UCI    {000138A9-0000-0000-413C-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    397454.438    117551.200    3810.000     4    
    END-POINT    397454.438    117554.375    3810.000     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-403C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
WELD
    END-POINT    397454.438    117640.100    3810.000     4    
    END-POINT    397454.438    117640.100    3810.000     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A228-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    397968.788    117744.875    7219.950     4    
    END-POINT    397968.788    117744.875    4397.375     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-4E3C-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    99.95 lbm
    CUT-PIECE-LENGTH    2822.58
WELD
    END-POINT    397968.788    117744.875    7219.950     4    
    END-POINT    397968.788    117744.875    7219.950     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9F1F-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    397968.788    117897.275    7372.350     4    BW
    END-POINT    397968.788    117744.875    7219.950     4    BW
    CENTRE-POINT    397968.788    117744.875    7372.350        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-921F-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    397968.788    117897.275    7372.350     4    
    END-POINT    397968.788    117897.275    7372.350     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A21F-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    397968.788    117744.875    4000.500     4    
    END-POINT    397968.788    117744.875    3914.775     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-5F3C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
GASKET
    END-POINT    397968.788    117744.875    4003.675     4    
    END-POINT    397968.788    117744.875    4000.500     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-6B3C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
BOLT
    CO-ORDS    397968.788    117744.875    4000.500        
    UCI    {000138A9-0000-0000-6C3C-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
WELD
    END-POINT    397968.788    117744.875    3914.775     4    
    END-POINT    397968.788    117744.875    3914.775     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C428-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
VALVE
    END-POINT    397968.788    117744.875    4308.475     4    FL
    END-POINT    397968.788    117744.875    4003.675     4    FL
    CENTRE-POINT    397968.788    117744.875    4156.075        
    SKEY    VV**
    ITEM-CODE    VAAAMABAHADEADAZZZZUS
    ITEM-DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A216-WCB
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    165. lbm
    UCI    {00013885-0000-0000-443C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    ERECTION-ITEM
    WEIGHT    74.843
    SPINDLE-DIRECTION    NORTH
    DIRECTION    NORTH
BOLT
    CO-ORDS    397968.788    117744.875    4308.475        
    UCI    {000138A9-0000-0000-6A3C-6BA966471E04}
    BOLT-DIA     .75
    BOLT-LENGTH     4.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  4.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    397968.788    117744.875    4308.475     4    
    END-POINT    397968.788    117744.875    4311.650     4    
    ERECTION-ITEM
    ITEM-CODE    GMAMACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL300, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-693C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
FLANGE
    END-POINT    397968.788    117744.875    4311.650     4    
    END-POINT    397968.788    117744.875    4397.375     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-543C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
WELD
    END-POINT    397968.788    117744.875    4397.375     4    
    END-POINT    397968.788    117744.875    4397.375     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6D3C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    397968.788    125542.675    7372.350     4    
    END-POINT    397968.788    117897.275    7372.350     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-881F-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    270.73 lbm
    CUT-PIECE-LENGTH    7645.40
WELD
    END-POINT    397968.788    125542.675    7372.350     4    
    END-POINT    397968.788    125542.675    7372.350     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-A41F-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    397768.762    117744.875    3810.000     4    BW
    END-POINT    397559.212    117744.875    3810.000     4    BW
    CENTRE-POINT    397663.988    117744.875    3810.000        
    BRANCH1-POINT    397663.988    117744.875    3914.775     4    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    13. lbm
    UCI    {00013885-0000-0000-C723-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    5.897
WELD
    END-POINT    397768.762    117744.875    3810.000     4    
    END-POINT    397768.762    117744.875    3810.000     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-DF23-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    397559.212    117744.875    3810.000     4    BW
    END-POINT    397349.662    117744.875    3810.000     4    BW
    CENTRE-POINT    397454.438    117744.875    3810.000        
    BRANCH1-POINT    397454.438    117640.100    3810.000     4    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    13. lbm
    UCI    {00013885-0000-0000-8628-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    5.897
WELD
    END-POINT    397559.212    117744.875    3810.000     4    
    END-POINT    397559.212    117744.875    3810.000     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-E223-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    398073.562    117744.875    3810.000     4    BW
    END-POINT    397864.012    117744.875    3810.000     4    BW
    CENTRE-POINT    397968.788    117744.875    3810.000        
    BRANCH1-POINT    397968.788    117744.875    3914.775     4    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    13. lbm
    UCI    {00013885-0000-0000-A728-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    5.897
WELD
    END-POINT    398073.562    117744.875    3810.000     4    
    END-POINT    398073.562    117744.875    3810.000     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-BF28-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    397864.012    117744.875    3810.000     4    
    END-POINT    397768.762    117744.875    3810.000     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-CF23-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    3.37 lbm
    CUT-PIECE-LENGTH    95.25
WELD
    END-POINT    397864.012    117744.875    3810.000     4    
    END-POINT    397864.012    117744.875    3810.000     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C228-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    397529.050    116268.500    8509.000     4    
    END-POINT    397529.050    116268.500    8594.725     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-C42C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
PIPE
    END-POINT    396935.325    116268.500    8747.125     4    
    END-POINT    397376.650    116268.500    8747.125     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-F90B-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    15.63 lbm
    CUT-PIECE-LENGTH    441.33
WELD
    END-POINT    397376.650    116268.500    8747.125     4    
    END-POINT    397376.650    116268.500    8747.125     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-140C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    396725.775    116268.500    8747.125     4    BW
    END-POINT    396935.325    116268.500    8747.125     4    BW
    CENTRE-POINT    396830.550    116268.500    8747.125        
    BRANCH1-POINT    396830.550    116268.500    8851.900     4    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    13. lbm
    UCI    {00013885-0000-0000-A523-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    5.897
WELD
    END-POINT    396935.325    116268.500    8747.125     4    
    END-POINT    396935.325    116268.500    8747.125     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C023-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    396132.050    116268.500    8594.725     4    BW
    END-POINT    396284.450    116268.500    8747.125     4    BW
    CENTRE-POINT    396132.050    116268.500    8747.125        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-F10B-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    396284.450    116268.500    8747.125     4    
    END-POINT    396284.450    116268.500    8747.125     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0D0C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    396132.050    116268.500    8509.000     4    
    END-POINT    396132.050    116268.500    8594.725     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-B72C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
WELD
    END-POINT    396132.050    116268.500    8594.725     4    
    END-POINT    396132.050    116268.500    8594.725     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-120C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    397376.650    116268.500    8747.125     4    BW
    END-POINT    397529.050    116268.500    8594.725     4    BW
    CENTRE-POINT    397529.050    116268.500    8747.125        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-010C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    397529.050    116268.500    8594.725     4    
    END-POINT    397529.050    116268.500    8594.725     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-100C-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    396284.450    116268.500    8747.125     4    
    END-POINT    396725.775    116268.500    8747.125     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-AD23-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    15.63 lbm
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    CUT-PIECE-LENGTH    441.32
WELD
    END-POINT    396725.775    116268.500    8747.125     4    
    END-POINT    396725.775    116268.500    8747.125     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-BD23-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    CONTINUATION
    END-POINT    397968.788    125695.075    7524.750     4    BW
    END-POINT    397968.788    125542.675    7372.350     4    BW
    CENTRE-POINT    397968.788    125695.075    7372.350        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-681F-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    4.037
FLANGE
    CONTINUATION
    END-POINT    397263.938    117744.875    3810.000     4    
    END-POINT    397349.663    117744.875    3810.000     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-833C-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
WELD
    END-POINT    397349.663    117744.875    3810.000     4    
    END-POINT    397349.662    117744.875    3810.000     4    
    SKEY    WWD
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9F28-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    380408-A
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
    MATERIAL-LIST    EXCLUDE
    CONTINUATION
FLANGE
    CONTINUATION
    END-POINT    398159.288    117744.875    3810.000     4    
    END-POINT    398073.562    117744.875    3810.000     4    
    SKEY    FLWN
    ITEM-CODE    FAAAMDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    MATERIAL-LIST    EXCLUDE
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    25. lbm
    UCI    {00013885-0000-0000-173D-6BA966471E04}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    2C0032
    FABRICATION-ITEM
    WEIGHT    11.340
END-POSITION-CLOSED
    CO-ORDS    397454.438    117519.450    3810.000
END-CONNECTION-PIPELINE
    CO-ORDS    397968.788    125695.075    7524.750
    CONNECTION-REFERENCE  390408-A
END-CONNECTION-PIPELINE
    CO-ORDS    397263.938    117744.875    3810.000
    CONNECTION-REFERENCE  380407-A
END-CONNECTION-PIPELINE
    CO-ORDS    398159.288    117744.875    3810.000
    CONNECTION-REFERENCE  380311-A
END-POSITION-OPEN
    CO-ORDS    397529.050    116268.500    8509.000
END-POSITION-OPEN
    CO-ORDS    396132.050    116268.500    8509.000
MATERIALS
ITEM-CODE    VAAAMABAHADEADAZZZZUS
    DESCRIPTION    Gate valve, CL300, RFFE, BB, OS&Y, ASTM-A216-WCB, trim 8, Crane 33
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    GMAMACABXBEPUS
    DESCRIPTION    Gasket, CL300, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    FAAAMDCZZAADABQZZUS
    DESCRIPTION    Flange, CL300, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    MAAAMABZZAADABQZZUS
    DESCRIPTION    Blind flange, CL300, RFFE, ASTM-A105, ASME-B16.5
ITEM-CODE    MDJZZBOZZAAEADCZZUS
    DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
