ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-08-W
    PIPING-SPEC   1C0031
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:44:13 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:44:13
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    5771.000    69189.600    3619.500     3    BW
    END-POINT    5656.700    69189.600    3505.200     3    BW
    CENTRE-POINT    5771.000    69189.600    3505.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.7 lbm
    UCI    {00013885-0000-0000-8C06-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    2.132
WELD
    END-POINT    5771.000    69189.600    3619.500     3    
    END-POINT    5771.000    69189.600    3619.500     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CD06-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    5771.000    69075.300    4267.200     3    BW
    END-POINT    5771.000    69189.600    4152.900     3    BW
    CENTRE-POINT    5771.000    69189.600    4267.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.7 lbm
    UCI    {00013885-0000-0000-7106-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    2.132
WELD
    END-POINT    5771.000    69189.600    4152.900     3    
    END-POINT    5771.000    69189.600    4152.900     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-D106-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    5771.000    67960.714    4152.900     3    BW
    END-POINT    5771.000    68075.014    4267.200     3    BW
    CENTRE-POINT    5771.000    67960.714    4267.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    4.7 lbm
    UCI    {00013885-0000-0000-4306-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    2.132
WELD
    END-POINT    5771.000    68075.014    4267.200     3    
    END-POINT    5771.000    68075.014    4267.200     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6106-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    5771.000    67960.714    3353.075     3    
    END-POINT    5771.000    67960.714    3422.925     3    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    10. lbm
    UCI    {00013885-0000-0000-ED05-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.536
BOLT
    CO-ORDS    5771.000    67960.714    3353.075        
    UCI    {000138A9-0000-0000-0806-CD6A8E473604}
    BOLT-DIA     .625
    BOLT-LENGTH     3.75
    BOLT-QUANTITY    4
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  3.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    5771.000    67960.714    3353.075     3    
    END-POINT    5771.000    67960.714    3349.900     3    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-0706-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
WELD
    END-POINT    5771.000    67960.714    3422.925     3    
    END-POINT    5771.000    67960.714    3422.925     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0906-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    5656.700    69189.600    3505.200     3    
    END-POINT    2723.107    69189.600    3505.200     3    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    3.437
    UCI    {0001388C-0000-0000-C006-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    72.93 lbm
    CUT-PIECE-LENGTH    2933.59
SUPPORT
    CO-ORDS    3081.537    69189.600    3505.200     3
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    DesignPipeH_1
    WEIGHT    0.354
    UCI    {00022311-0000-0000-AF86-CD6A8E473604}
    NAME    Assy_FR_BC_LS_3-15-1*
SUPPORT
    CO-ORDS    3081.537    69189.600    3505.200     3
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy_FR_BC_LS_3
    WEIGHT    18.982
    UCI    {00022303-0000-0000-CF6B-CD6A8E473604}
    NAME    Assy_FR_BC_LS_3-15-1
WELD
    END-POINT    5656.700    69189.600    3505.200     3    
    END-POINT    5656.700    69189.600    3505.200     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CA06-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    5771.000    69189.600    4152.900     3    
    END-POINT    5771.000    69189.600    3619.500     3    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    3.437
    UCI    {0001388C-0000-0000-C606-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    13.26 lbm
    CUT-PIECE-LENGTH    533.40
SUPPORT
    CO-ORDS    5771.000    69189.600    3829.649     3
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy-DM1-4
    WEIGHT    0.000
    UCI    {00022303-0000-0000-F38D-CD6A8E473604}
    NAME    Assy-DM1-4-15-32
PIPE
    END-POINT    5771.000    67960.714    3422.925     3    
    END-POINT    5771.000    67960.714    4152.900     3    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    3.437
    UCI    {0001388C-0000-0000-E605-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    18.15 lbm
    CUT-PIECE-LENGTH    729.98
WELD
    END-POINT    5771.000    67960.714    4152.900     3    
    END-POINT    5771.000    67960.714    4152.900     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5E06-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    5771.000    68075.014    4267.200     3    
    END-POINT    5771.000    69075.300    4267.200     3    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    3.437
    UCI    {0001388C-0000-0000-5606-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .216 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24.87 lbm
    CUT-PIECE-LENGTH    1000.29
WELD
    END-POINT    5771.000    69075.300    4267.200     3    
    END-POINT    5771.000    69075.300    4267.200     3    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CF06-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-08-W
    WELD-ATTRIBUTE2     3
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-CONNECTION-EQUIPMENT
    CO-ORDS    5771.000    67960.714    3349.900
    CONNECTION-REFERENCE  VerticalDrum01-E-15-0001/S$3 in RFFE 150
END-POSITION-OPEN
    CO-ORDS    2723.107    69189.600    3505.200
MATERIALS
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    FAAAHDCZZAADABQZZUS
    DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    GMAHACABXBEPUS
    DESCRIPTION    Gasket, CL150, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    DesignPipeH_1
    DESCRIPTION    Design Pipe Assembly
ITEM-CODE    Assy_FR_BC_LS_3
    DESCRIPTION    Braced Cantilever L3X3X1/4 w/ Baseplate
ITEM-CODE    Assy-DM1-4
    DESCRIPTION    Assembly DM1 Size 1 Sway Strut Assembly (Option 3) for Pipe Sizes 2in to 36in
