ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-07-W
    PIPING-SPEC   N0
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:44:08 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:44:08
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    7169.605    67665.600    10144.200     10    
    END-POINT    7169.605    67665.600    7243.615     10    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    N0
    WEIGHT    18.396
    UCI    {0001388C-0000-0000-5702-F0008D478004}
    ITEM-CODE    PIPEBE142DSCHI
    ITEM-DESCRIPTION    Pipe, S-STD, BE
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .0625 in
    COMPONENT-ATTRIBUTE8    385.96 lbm
    CUT-PIECE-LENGTH    2900.58
SUPPORT
    CO-ORDS    7169.605    67665.600    9693.476     10
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy-CS1-V1
    WEIGHT    45.757
    UCI    {00022303-0000-0000-405B-F0008D478004}
    NAME    Assy-CS1-V1-15-3
WELD
    END-POINT    7169.605    67665.600    10147.200     10    
    END-POINT    7169.605    67665.600    10144.200     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6202-F0008D478004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-07-W
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    -1524.000    67665.600    10363.200     10    
    END-POINT    6950.605    67665.600    10363.200     10    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    N0
    WEIGHT    18.396
    UCI    {0001388C-0000-0000-5102-F0008D478004}
    ITEM-CODE    PIPEBE142DSCHI
    ITEM-DESCRIPTION    Pipe, S-STD, BE
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .0625 in
    COMPONENT-ATTRIBUTE8    1127.64 lbm
    CUT-PIECE-LENGTH    8474.61
SUPPORT
    CO-ORDS    -814.174    67665.600    10363.200     10
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    G4G_1401_04_H3
    WEIGHT    0.000
    UCI    {00022303-0000-0000-BC01-EDB690475304}
    NAME    G4G_1401_04_H3-15-41
SUPPORT
    CO-ORDS    0.000    67665.600    10363.200     10
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy-SS4-V-1
    WEIGHT    40.330
    UCI    {00022303-0000-0000-4381-F0008D478004}
    NAME    Assy-SS4-V-1-15-1
SUPPORT
    CO-ORDS    3048.000    67665.600    10363.200     10
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy-SS3-250
    WEIGHT    43.363
    UCI    {00022303-0000-0000-8684-F0008D478004}
    NAME    Assy-SS3-250-15-1
SUPPORT
    CO-ORDS    6096.000    67665.600    10363.200     10
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy-DM1-9
    WEIGHT    0.000
    UCI    {00022303-0000-0000-CF79-F0008D478004}
    NAME    Assy-DM1-9-15-1
WELD
    END-POINT    6953.605    67665.600    10363.200     10    
    END-POINT    6950.605    67665.600    10363.200     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-5D02-F0008D478004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-07-W
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    7388.605    67665.600    10363.200     10    
    END-POINT    8884.855    67665.600    10363.200     10    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    N0
    WEIGHT    18.396
    UCI    {0001388C-0000-0000-CC01-F0008D478004}
    ITEM-CODE    PIPEBE142DSCHI
    ITEM-DESCRIPTION    Pipe, S-STD, BE
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .0625 in
    COMPONENT-ATTRIBUTE8    199.09 lbm
    CUT-PIECE-LENGTH    1496.25
SUPPORT
    CO-ORDS    8288.776    67665.600    10363.200     10
    SUPPORT-DIRECTION    UP
    SKEY    01HG
    ITEM-CODE    Assy_FR_IT_LS_5
    WEIGHT    30.007
    UCI    {00022303-0000-0000-1B00-87BD98473104}
    NAME    Assy_FR_IT_LS_5-15-61
WELD
    END-POINT    8884.855    67665.600    10363.200     10    
    END-POINT    8887.855    67665.600    10363.200     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-06CA-F0008D478004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-07-W
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    9141.855    67665.600    10106.200     10    
    END-POINT    9141.855    67665.600    8276.318     10    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    N0
    WEIGHT    18.396
    UCI    {0001388C-0000-0000-FEC9-F0008D478004}
    ITEM-CODE    PIPEBE142DSCHI
    ITEM-DESCRIPTION    Pipe, S-STD, BE
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .0625 in
    COMPONENT-ATTRIBUTE8    243.49 lbm
    CUT-PIECE-LENGTH    1829.88
WELD
    END-POINT    9141.855    67665.600    10106.200     10    
    END-POINT    9141.855    67665.600    10109.200     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-09CA-F0008D478004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-07-W
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    8887.855    67665.600    10363.200     10    BW
    END-POINT    9141.855    67665.600    10109.200     10    BW
    CENTRE-POINT    9141.855    67665.600    10363.200        
    SKEY    ELBW
    ITEM-CODE    90E39264D
    ITEM-DESCRIPTION    90 degree Elbow
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .0625 in
    UCI    {00013885-0000-0000-EBC9-F0008D478004}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    N0
    FABRICATION-ITEM
TEE
    END-POINT    6953.605    67665.600    10363.200     10    BW
    END-POINT    7385.605    67665.600    10363.200     10    BW
    CENTRE-POINT    7169.605    67665.600    10363.200        
    BRANCH1-POINT    7169.605    67665.600    10147.200     10    BW
    SKEY    TE**
    ITEM-CODE    TEE39264D
    ITEM-DESCRIPTION    Tee, BE, S-STD
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .0625 in
    UCI    {00013885-0000-0000-2D02-F0008D478004}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    N0
    FABRICATION-ITEM
WELD
    END-POINT    7385.605    67665.600    10363.200     10    
    END-POINT    7388.605    67665.600    10363.200     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-6002-F0008D478004}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-07-W
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-POSITION-OPEN
    CO-ORDS    7169.605    67665.600    7243.615
END-POSITION-OPEN
    CO-ORDS    -1524.000    67665.600    10363.200
END-POSITION-OPEN
    CO-ORDS    9141.855    67665.600    8276.318
MATERIALS
ITEM-CODE    PIPEBE142DSCHI
    DESCRIPTION    Pipe, S-STD, BE
ITEM-CODE    Assy-CS1-V1
    DESCRIPTION    Assembly CS1_V with variable clamp size (overall width and depth) and rod spacing
ITEM-CODE    G4G_1401_04_H3
    DESCRIPTION    Penetration Plate on Pipe(s)
ITEM-CODE    Assy-SS4-V-1
    DESCRIPTION    Assembly SS4_V with variable overall width and rod spacing
ITEM-CODE    Assy-SS3-250
    DESCRIPTION    Assembly SS3 with fixed overall width and rod spacing, for 250mm Pipe
ITEM-CODE    Assy-DM1-9
    DESCRIPTION    Assembly DM1 Size 6 Sway Strut Assembly (Option 3) for Pipe Sizes 6in to 36in
ITEM-CODE    Assy_FR_IT_LS_5
    DESCRIPTION    Inverted T Shaped Frame L4X4X1/4 w/ Baseplate
ITEM-CODE    90E39264D
    DESCRIPTION    90 degree Elbow
ITEM-CODE    TEE39264D
    DESCRIPTION    Tee, BE, S-STD
