ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   400314-WC
    PIPING-SPEC   1C0031
    INSULATION-SPEC   CALCIUM SILICATE
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    PIPELINE-TEMP   37.78 C / 100.00 F
    ATTRIBUTE1   75.000 psi
    ATTRIBUTE8   COOLING WATER
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/27/2008 4:12:22 PMToday's Date (Your format) : 27/02/08Today's Date (ISO8601 Small) : 2008-02-27 16:12:22
    PROJECT-IDENTIFIER   PlantX
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
PIPE
    END-POINT    411962.600    132083.175    12252.325     10    
    END-POINT    411962.600    131397.375    12252.325     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    19.413
    UCI    {0001388C-0000-0000-301A-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    96.3 lbm
    CUT-PIECE-LENGTH    685.80
WELD
    END-POINT    411962.600    132083.175    12252.325     10    
    END-POINT    411962.600    132083.175    12252.325     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-9821-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
MISC-COMPONENT
    END-POINT    411962.600    131016.375    11766.550     10    FL
    END-POINT    411962.600    131016.375    11744.325     10    FL
    CENTRE-POINT    411962.600    131016.375    11755.438        
    SKEY    SB
    SLIP-PLATE-TAIL-DIRECTION    NORTH
    ITEM-CODE    MABAHAZZZABPAEIHYUS
    ITEM-DESCRIPTION    Spectacle blank, CL150, RFTBE, ASTM-A516-70, API-590Z1, 22 mm thk
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A516-70
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    UCI    {00013885-0000-0000-0239-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    ERECTION-ITEM
GASKET
    END-POINT    411962.600    131016.375    11766.550     10    
    END-POINT    411962.600    131016.375    11769.725     10    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-1939-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
ELBOW
    END-POINT    411962.600    131397.375    12252.325     10    BW
    END-POINT    411962.600    131016.375    11871.325     10    BW
    CENTRE-POINT    411962.600    131016.375    12252.325        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    86.3 lbm
    UCI    {00013885-0000-0000-391A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    39.147
WELD
    END-POINT    411962.600    131397.375    12252.325     10    
    END-POINT    411962.600    131397.375    12252.325     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-491A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    411962.600    132286.375    12277.725     12    BW
    END-POINT    411962.600    132083.175    12252.325     10    BW
    SKEY    RE**
    ITEM-CODE    MBJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Eccentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    34.95 lbm
    UCI    {00013885-0000-0000-1F1A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    15.854
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    411962.600    132286.375    12277.725     12    
    END-POINT    411962.600    132286.375    12277.725     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-291A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    411962.600    131016.375    11769.725     10    
    END-POINT    411962.600    131016.375    11871.325     10    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    52.44 lbm
    UCI    {00013885-0000-0000-0E39-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    23.787
WELD
    END-POINT    411962.600    131016.375    11871.325     10    
    END-POINT    411962.600    131016.375    11871.325     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-461A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    411962.750    132540.284    12531.725     12    
    END-POINT    411963.405    132539.888    13642.975     12    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    23.727
    UCI    {0001388C-0000-0000-501A-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    190.71 lbm
    CUT-PIECE-LENGTH    1111.25
WELD
    END-POINT    411962.750    132540.284    12531.725     12    
    END-POINT    411962.750    132540.284    12531.725     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8726-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    411963.405    132539.888    13642.975     12    
    END-POINT    411963.405    132539.888    13642.975     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8B1A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    407990.756    131375.304    14100.175     12    BW
    END-POINT    407552.012    131246.712    13642.975     12    BW
    CENTRE-POINT    407552.012    131246.712    14100.175        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    127.61 lbm
    UCI    {00013885-0000-0000-691A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    57.882
WELD
    END-POINT    407990.756    131375.304    14100.175     12    
    END-POINT    407990.756    131375.304    14100.175     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8D1A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    407552.012    131246.712    11887.200     12    BW
    END-POINT    407433.701    131688.339    11430.000     12    BW
    CENTRE-POINT    407552.012    131246.712    11430.000        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    127.61 lbm
    UCI    {00013885-0000-0000-781A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    57.882
WELD
    END-POINT    407552.012    131246.712    11887.200     12    
    END-POINT    407552.012    131246.712    11887.200     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8F1A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    407404.120    131798.756    11430.000     12    
    END-POINT    407433.698    131688.350    11430.000     12    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    80.58 lbm
    UCI    {00013885-0000-0000-2839-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    36.549
WELD
    END-POINT    407433.698    131688.350    11430.000     12    
    END-POINT    407433.701    131688.339    11430.000     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-891A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    407552.012    131246.712    13642.975     12    
    END-POINT    407552.012    131246.712    11887.200     12    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    23.727
    UCI    {0001388C-0000-0000-701A-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    301.32 lbm
    CUT-PIECE-LENGTH    1755.78
WELD
    END-POINT    407552.012    131246.712    13642.975     12    
    END-POINT    407552.012    131246.712    13642.975     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-871A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    411524.931    132411.134    14100.175     12    
    END-POINT    407990.756    131375.304    14100.175     12    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    23.727
    UCI    {0001388C-0000-0000-611A-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    632.04 lbm
    CUT-PIECE-LENGTH    3682.84
WELD
    END-POINT    411524.931    132411.134    14100.388     12    
    END-POINT    411524.931    132411.134    14100.175     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-841A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
MISC-COMPONENT
    END-POINT    407403.298    131801.823    11430.000     12    FL
    END-POINT    407396.726    131826.358    11430.000     12    FL
    CENTRE-POINT    407400.012    131814.091    11430.000        
    SKEY    SB
    SLIP-PLATE-TAIL-DIRECTION    EAST
    DIRECTION    N  75 E
    ITEM-CODE    MABAHAZZZABPAEIHYUS
    ITEM-DESCRIPTION    Spectacle blank, CL150, RFTBE, ASTM-A516-70, API-590Z1, 25 mm thk
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A516-70
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    UCI    {00013885-0000-0000-1B39-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    ERECTION-ITEM
GASKET
    END-POINT    407403.298    131801.823    11430.000     12    
    END-POINT    407404.120    131798.756    11430.000     12    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-3E39-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
ELBOW
    END-POINT    411963.405    132539.888    13642.975     12    BW
    END-POINT    411524.931    132411.134    14100.388     12    BW
    CENTRE-POINT    411963.675    132539.725    14100.175        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    127.61 lbm
    UCI    {00013885-0000-0000-591A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    57.882
PIPE
    END-POINT    411962.600    133683.375    12252.325     10    
    END-POINT    411962.600    132997.575    12252.325     10    
    FABRICATION-ITEM
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    19.413
    UCI    {0001388C-0000-0000-F219-6BA966471E04}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    96.3 lbm
    CUT-PIECE-LENGTH    685.80
WELD
    END-POINT    411962.600    133683.375    12252.325     10    
    END-POINT    411962.600    133683.375    12252.325     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-F719-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
MISC-COMPONENT
    END-POINT    411962.600    134064.375    11766.550     10    FL
    END-POINT    411962.600    134064.375    11744.325     10    FL
    CENTRE-POINT    411962.600    134064.375    11755.438        
    SKEY    SB
    SLIP-PLATE-TAIL-DIRECTION    SOUTH
    ITEM-CODE    MABAHAZZZABPAEIHYUS
    ITEM-DESCRIPTION    Spectacle blank, CL150, RFTBE, ASTM-A516-70, API-590Z1, 22 mm thk
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A516-70
    COMPONENT-ATTRIBUTE4    0  in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    UCI    {00013885-0000-0000-DE38-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    ERECTION-ITEM
GASKET
    END-POINT    411962.600    134064.375    11766.550     10    
    END-POINT    411962.600    134064.375    11769.725     10    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-0039-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
ELBOW
    END-POINT    411962.600    134064.375    11871.325     10    BW
    END-POINT    411962.600    133683.375    12252.325     10    BW
    CENTRE-POINT    411962.600    134064.375    12252.325        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    86.3 lbm
    UCI    {00013885-0000-0000-EA19-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    39.147
FLANGE
    END-POINT    411962.600    134064.375    11769.725     10    
    END-POINT    411962.600    134064.375    11871.325     10    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    52.44 lbm
    UCI    {00013885-0000-0000-EA38-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    23.787
WELD
    END-POINT    411962.600    134064.375    11871.325     10    
    END-POINT    411962.600    134064.375    11871.325     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-FA19-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
TEE
    END-POINT    411962.600    132794.375    12277.725     12    BW
    END-POINT    411962.600    132286.375    12277.725     12    BW
    CENTRE-POINT    411962.600    132540.375    12277.725        
    BRANCH1-POINT    411962.750    132540.284    12531.725     12    BW
    SKEY    TE**
    ITEM-CODE    MDJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .375 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    131.84 lbm
    UCI    {00013885-0000-0000-6126-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    59.802
WELD
    END-POINT    411962.600    132794.375    12277.725     12    
    END-POINT    411962.600    132794.375    12277.725     12    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-8F21-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     12
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
REDUCER-ECCENTRIC
    END-POINT    411962.600    132794.375    12277.725     12    BW
    END-POINT    411962.600    132997.575    12252.325     10    BW
    SKEY    RE**
    ITEM-CODE    MBJZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    Eccentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    75. psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    100. F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .365 in
    COMPONENT-ATTRIBUTE5    1.57 in
    COMPONENT-ATTRIBUTE6    .001806 lbm/in^3
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    34.95 lbm
    UCI    {00013885-0000-0000-021A-6BA966471E04}
    INSULATION ON
    INSULATION-SPEC    CALCIUM SILICATE
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    SPOOL-IDENTIFIER    NO SPOOL FOUND
    FABRICATION-ITEM
    WEIGHT    15.854
    FLAT-DIRECTION    DOWN
WELD
    END-POINT    411962.600    132997.575    12252.325     10    
    END-POINT    411962.600    132997.575    12252.325     10    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-0C1A-6BA966471E04}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    400314-WC
    WELD-ATTRIBUTE2     10
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-POSITION-OPEN
    CO-ORDS    411962.600    131016.375    11744.325
END-POSITION-OPEN
    CO-ORDS    407396.726    131826.358    11430.000
END-POSITION-OPEN
    CO-ORDS    411962.600    134064.375    11744.325
MATERIALS
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    MABAHAZZZABPAEIHYUS
    DESCRIPTION    Spectacle blank, CL150, RFTBE, ASTM-A516-70, API-590Z1, 22 mm thk
ITEM-CODE    GMAHACABXBEPUS
    DESCRIPTION    Gasket, CL150, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    MBJZZBOZZAAEADCZZUS
    DESCRIPTION    Eccentric reducer, S-STD x S-STD bore, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    FAAAHDCZZAADABQZZUS
    DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    MDJZZBOZZAAEADCZZUS
    DESCRIPTION    Tee, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
