ISOGEN-FILES         ISOGEN.FLS
UNITS-BORE           INCH
UNITS-CO-ORDS         MM
UNITS-BOLT-LENGTH     INCH
UNITS-BOLT-DIA        INCH
UNITS-WEIGHT          KGS
PIPELINE-REFERENCE   bp-03-P
    PIPING-SPEC   1C0031
    INSULATION-SPEC   UNDEFINED
    PAINTING-SPEC   ELECTRO-GALVANIZED
    TRACING-SPEC   UNDEFINED
    ATTRIBUTE8   PROCESS
    ATTRIBUTE9   Today's Date (Locale Sensitive format) : 2/28/2008 8:43:50 AMToday's Date (Your format) : 28/02/08Today's Date (ISO8601 Small) : 2008-02-28 08:43:50
    PROJECT-IDENTIFIER   7408_blp
    MISC-SPEC3    UNDEFINED
    HIGHEST-WELD-NUMBER    1    1024
ELBOW
    END-POINT    7620.000    69189.600    4267.200     4    BW
    END-POINT    7620.000    69342.000    4114.800     4    BW
    CENTRE-POINT    7620.000    69342.000    4267.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-4705-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    7620.000    69342.000    4114.800     4    
    END-POINT    7620.000    69342.000    4114.800     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-CB05-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    6421.000    67960.714    4114.800     4    BW
    END-POINT    6573.400    67960.714    4267.200     4    BW
    CENTRE-POINT    6421.000    67960.714    4267.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-FA04-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    6573.400    67960.714    4267.200     4    
    END-POINT    6573.400    67960.714    4267.200     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1805-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    7620.000    69342.000    3505.200     4    BW
    END-POINT    7772.400    69342.000    3352.800     4    BW
    CENTRE-POINT    7620.000    69342.000    3352.800        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-6505-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    7620.000    69342.000    3505.200     4    
    END-POINT    7620.000    69342.000    3505.200     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C705-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
WELD
    END-POINT    7772.400    69342.000    3352.800     4    
    END-POINT    7772.400    69342.000    3352.800     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C405-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
ELBOW
    END-POINT    7467.600    67960.714    4267.200     4    BW
    END-POINT    7620.000    68113.114    4267.200     4    BW
    CENTRE-POINT    7620.000    67960.714    4267.200        
    SKEY    EL**
    ITEM-CODE    MCMZZBOZZAAEADCZZUS
    ITEM-DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A234-WPB
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    8.9 lbm
    UCI    {00013885-0000-0000-1E05-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    4.037
WELD
    END-POINT    7620.000    68113.114    4267.200     4    
    END-POINT    7620.000    68113.114    4267.200     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-3105-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
FLANGE
    END-POINT    6421.000    67960.714    3353.075     4    
    END-POINT    6421.000    67960.714    3429.275     4    
    SKEY    FLWN
    ITEM-CODE    FAAAHDCZZAADABQZZUS
    ITEM-DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A105
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    15. lbm
    UCI    {00013885-0000-0000-A104-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    FABRICATION-ITEM
    WEIGHT    6.804
BOLT
    CO-ORDS    6421.000    67960.714    3353.075        
    UCI    {000138A9-0000-0000-C404-CD6A8E473604}
    BOLT-DIA     .625
    BOLT-LENGTH     3.75
    BOLT-QUANTITY    8
    BOLT-ITEM-CODE    BAZZZZZZAAYBETZZUS
    BOLT-ITEM-DESCRIPTION  ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts -  3.75 in. Length
    ERECTION-ITEM
GASKET
    END-POINT    6421.000    67960.714    3349.900     4    
    END-POINT    6421.000    67960.714    3353.075     4    
    ERECTION-ITEM
    ITEM-CODE    GMAHACABXBEPUS
    ITEM-DESCRIPTION  Gasket, CL150, 0.125" thk, 304 spiral wnd, graph filled, CS center ring, API-601
    UCI    {000138A8-0000-0000-C304-CD6A8E473604}
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
WELD
    END-POINT    6421.000    67960.714    3429.275     4    
    END-POINT    6421.000    67960.714    3429.275     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C504-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    7772.400    69342.000    3352.800     4    
    END-POINT    11636.648    69342.000    3352.800     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-B005-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    136.83 lbm
    CUT-PIECE-LENGTH    3864.25
SUPPORT
    CO-ORDS    10271.585    69342.000    3352.800     4
    SUPPORT-DIRECTION    DOWN
    SKEY    01HG
    ITEM-CODE    Assy_SH_CL_5
    WEIGHT    4.090
    UCI    {00022303-0000-0000-0469-CD6A8E473604}
    NAME    Assy_SH_CL_5-15-1
SUPPORT
    CO-ORDS    10271.585    69342.000    3352.800     4
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy_FR_BC_WS_1
    WEIGHT    39.329
    UCI    {00022303-0000-0000-3A4B-CD6A8E473604}
    NAME    Assy_FR_BC_WS_1-15-2
    FABRICATION-ITEM
PIPE
    END-POINT    6573.400    67960.714    4267.200     4    
    END-POINT    7467.600    67960.714    4267.200     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-0D05-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    31.66 lbm
    CUT-PIECE-LENGTH    894.20
WELD
    END-POINT    7467.600    67960.714    4267.200     4    
    END-POINT    7467.600    67960.714    4267.200     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-2E05-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    7620.000    69342.000    4114.800     4    
    END-POINT    7620.000    69342.000    3505.200     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-B705-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    21.59 lbm
    CUT-PIECE-LENGTH    609.60
SUPPORT
    CO-ORDS    7620.000    69342.000    3793.108     4
    SUPPORT-DIRECTION    NORTH
    SKEY    01HG
    ITEM-CODE    Assy-DM1-6
    WEIGHT    0.000
    UCI    {00022303-0000-0000-D556-CD6A8E473604}
    NAME    Assy-DM1-6-15-1
PIPE
    END-POINT    7620.000    68113.114    4267.200     4    
    END-POINT    7620.000    69189.600    4267.200     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-2605-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    38.12 lbm
    CUT-PIECE-LENGTH    1076.49
WELD
    END-POINT    7620.000    69189.600    4267.200     4    
    END-POINT    7620.000    69189.600    4267.200     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-C905-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
PIPE
    END-POINT    6421.000    67960.714    3429.275     4    
    END-POINT    6421.000    67960.714    4114.800     4    
    FABRICATION-ITEM
    INSULATION-SPEC    UNDEFINED
    PAINTING-SPEC    ELECTRO-GALVANIZED
    TRACING-SPEC    UNDEFINED
    MISC-SPEC3    UNDEFINED
    PIPING-SPEC    1C0031
    WEIGHT    4.896
    UCI    {0001388C-0000-0000-9A04-CD6A8E473604}
    ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    ITEM-DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
    COMPONENT-ATTRIBUTE1    0  psi
    COMPONENT-ATTRIBUTE10    0  psi
    COMPONENT-ATTRIBUTE2    -459.67 F
    COMPONENT-ATTRIBUTE3    A53-B
    COMPONENT-ATTRIBUTE4    .237 in
    COMPONENT-ATTRIBUTE5    0  in
    COMPONENT-ATTRIBUTE7    .063 in
    COMPONENT-ATTRIBUTE8    24.27 lbm
    CUT-PIECE-LENGTH    685.53
WELD
    END-POINT    6421.000    67960.714    4114.800     4    
    END-POINT    6421.000    67960.714    4114.800     4    
    SKEY    WW
    REPEAT-WELD-IDENTIFIER    0
    UCI    {000138AA-0000-0000-1505-CD6A8E473604}
    WELD-REMARK-NUMBER
    WELD-ATTRIBUTE1    bp-03-P
    WELD-ATTRIBUTE2     4
    WELD-ATTRIBUTE3    Shop weld
    WELD-ATTRIBUTE4    By Pipe Fabricator
END-CONNECTION-EQUIPMENT
    CO-ORDS    6421.000    67960.714    3349.900
    CONNECTION-REFERENCE  VerticalDrum01-E-15-0001/A1$4 in RFFE 150
END-POSITION-OPEN
    CO-ORDS    11636.648    69342.000    3352.800
MATERIALS
ITEM-CODE    MCMZZBOZZAAEADCZZUS
    DESCRIPTION    90 deg LR elbow, S-STD, BE, ASTM-A234-WPB, ASME-B16.9
ITEM-CODE    FAAAHDCZZAADABQZZUS
    DESCRIPTION    Flange, CL150, RFFE/BE, ASTM-A105, ASME-B16.5, WN, S-STD borebore to match
ITEM-CODE    BAZZZZZZAAYBETZZUS
    DESCRIPTION    ASTM-A193-B7 studs w/ASTM-A194-2H hvy hex nuts
ITEM-CODE    GMAHACABXBEPUS
    DESCRIPTION    Gasket, CL150, 0.125 thk, 304 spiral wnd, graph filled, CS center ring, API-601
ITEM-CODE    PAAZZBOZZABAABOAAZZUS
    DESCRIPTION    Pipe, S-STD, BE, ASTM-A53-B Type S
ITEM-CODE    Assy_SH_CL_5
    DESCRIPTION    Shoe w/Medium Clamps - WT4X6.5 L = 10
ITEM-CODE    Assy_FR_BC_WS_1
    DESCRIPTION    Braced Cantilever W4x13 w/ Baseplate
ITEM-CODE    Assy-DM1-6
    DESCRIPTION    Assembly DM1 Size 3 Sway Strut Assembly (Option 3) for Pipe Sizes 2 1/2in to 36in
